{% extends 'client_base.html' %}
{% load static %}
 {% block title %}
    <title>Client Campaigns</title>
    {% endblock %}
{% block page_content %}
    <div class="rw_inner_area rw_modal_backdrop">
        {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" >
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>{{message}}</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}


        <div class="rw_dashboard_box_wrapper">
            <div class="admin_header agency_header">
                <div class="dashboard_title">
                    <h1>Campaigns</h1>
                </div>
             
            </div>
        </div>
        <div class="admin_user_select">  
            <div class="search_icon_wrapper">                          
                 <div class="rw_dashboard_btn">
                    <a href="{% url 'campaign-creation' client.id %}" class="rw_btn">+new Campaign</a>
                 </div>
            </div>
         </div>
        <div class="rw_table_wrapper">
            <div class="rw_table_inner rw_admin_user_table rw_campaigns_table">                
                <table id="client_campaigns_table" class="table rw_pagination" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th class="sorting_none text-center">Steps</th>
                            <th class="sorting_none text-center">In-Progress</th>
                            <th class="sorting_none text-center">Complete</th>
                            <th class="sorting_none text-center">Status</th>
                            <th class="sorting_none text-center">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in campaign %}
                       <tr>
                           <td>{{i.name}}</td>
                           <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
                           <td class="text-center">{{i.steps_cam}}</td>
                           <td class="text-center">{{i.in_progress_cam}}</td>
                           <td class="text-center">{{i.complate_count}}</td>
                           <td class="text-center">
                               <div class="rw_toggle_switch">
                                  <div class="rw_switch">
                                    <input type="checkbox"  checked>
                                  </div>
                               </div>
                           </td>
                           <td class="text-center">
                            <div class="action_dropdown">
                             <ul class="drop_ul">
                                 <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                                     <ul class="action_submenu">
                                         <li><a href="{% url 'campaign-edit' i.id %}" class="remove_action" ><img src="{% static 'images/icons/edit.svg'%}" alt="image">edit</a></li>
                                         <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup-{{i.id}}"><img src="{% static 'images/icons/delete.svg'%}" alt="image">delete</a></li>
                                     </ul>
                                 </li>
                             </ul>                                    
                            </div>
                        </td>
                       </tr>
                    <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{i.id}}" tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal_title">
                                        <h4>Delete Campaign </h4>
                                    </div>
                                  <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="delete_modal_body">
                                        <img src="{% static 'images/delete_popup.svg'%}" alt="">
                                        <h1>Delete Campaign</h1>
                                        <p>Are you sure you want to delete {{i.name|title}}?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                 <ul class="modal_btns">
                                     <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">no</a></li>
                                     <li><a href="{% url 'campaign-delete' i.id %}" id="contact_delete_id" class="modal_btn" >Yes</a></li>
                                 </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <!-- </div> -->
{% endblock %}
