{% extends 'client_base.html' %}
{% load static %}
{% block title %}
    <title>Client Phone Numbers</title>
{% endblock %}
{% block page_content %}
<div class="rw_inner_area rw_inner_form_area rw_modal_backdrop">
    <div class="rw_tabs">
        <ul class="nav rw_tab_ul" id="myTab" role="tablist">
            
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-settings' client.id %}" class="tab_link " id="business_settings_tab" 
                    aria-selected="false">Business settings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-user' client.id %}" class="tab_link " id="campaign_user_tab" >Users</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-settings' client.id %}" class="tab_link active" id="campaign_phone_numbers_tab" aria-selected="false">Phone Numbers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'add-custom-fields' client.id %}" class="tab_link" id="campaign_custom_fields_tab" aria-selected="false">Custom fields</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-tag-view' client.id %}" class="tab_link " id="campaign_custom_tags_tab" >Tags</a>
            </li>
            



        </ul>
    </div>

{% if messages %}
{% for message in messages %}
     {% if message.tags == 'error' %}
         <div class="rw_suc_err_wrapper rw_error_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/error.svg'%}" alt="error">
                <p></p>
                <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
            </div>
        </div>
    {% else %}
    <div class="rw_suc_err_wrapper rw_success_toast active" >
        <div class="rw_suc_err_block ">
            <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
            <p>{{message}}</p>
            <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endif %}
<div class="tab-content">
  <div class="tab-pane active" id="campaign_phone_numbers" role="tabpanel" >
    <div class="rw_inner_tab_area campaign_phone_content">
        <div class="admin_user_select">
            <div class="rw_selectbox tags">
                <input type="hidden" id="client_id" value="{{client.id}}">
                <select id="phone_no_filter">
                    <option value="Type">Type</option>
                    <option value="Local">Local</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Toll-free">Toll-free</option>
                </select>
            </div>
        <div class="search_icon_wrapper">
                <div class="rw_dashboard_btn">
                    <a href="javascript:;" class="rw_btn" id="add_number">+New Number</a>
                </div>
        </div>
        </div>
        <div class="rw_table_wrapper">
            <div class="rw_table_inner rw_admin_user_table campaign_phone_table" id="client_phone_no_table">
                <table id="rw_cl_phone_table" class="table rw_pagination" >
                    <thead>
                        <tr>
                            <th>Phone Number</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th class="sorting_none">Type</th>
                            <th class="sorting_none text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in client_phone %}
                    <tr>
                        {% if i.is_default %}
                        <td>
                            <div class="d-flex">
                                {{i.phone_number}} <div class="default_label"><img src="{% static 'images/icons/make_default.svg'%}" alt="image"><span>Default</span></div>
                                </div>
                        </td>
                        {% else %}
                        <td>{{i.phone_number}}</td>
                        {% endif %}
                        <td>{{i.name}}</td>
                        <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at |date:"j M, Y h:i A"}}</td>
                        <td>{{i.phone_type|capfirst}}</td>
                        <td class="text-center">
                            <div class="action_dropdown">
                            <ul class="drop_ul">
                                <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                                    <ul class="action_submenu">
                                        <li><a href="{% url 'client-phone-make-defualt' i.id %}" class="remove_action" id="make_defult"><img src="{% static 'images/icons/make_default.svg'%}" alt="image">Make Default</a></li>
                                        <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup-{{i.id}}"><img src="{% static 'images/icons/delete.svg'%}" alt="image">delete</a></li>
                                        <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'images/icons/colored_icon/campaing.svg'%}" alt="image">Send Broadcast</a></li>
                                    </ul>
                                </li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                    <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{i.id}}" tabindex="-1"  aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal_title">
                                            <h4>Delete Client Phone Number</h4>
                                        </div>
                                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="delete_modal_body">
                                            <img src="{% static 'images/delete_popup.svg'%}" alt="">
                                            <h1>Delete Client Phone Number</h1>
                                            <p>Are you sure you want to delete {{i.name}}?</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <ul class="modal_btns">
                                        <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">no</a></li>
                                        <li><a href="{% url 'client-phone-delete' i.id %}" class="modal_btn" id="phone_delete">yes</a></li>
                                    </ul>
                                    </div>
                                </div>
                                </div>
                        </div>
                    {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>



<!------ Add New Number ------>
    <div class="modal fade rw_modal add_new_number rw_select2_modal" id="add_new_number" tabindex="-1" >
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Add New Number</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="rw_fieldset_wrapper">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="rw_form_inputs">
                                <label class="rw_form_label">Number Type</label>
                            </div>
                            <ul class="add_number_check">
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="Local" value="local" checked>
                                        <label for="Local">Local</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="mobile" value="mobile">
                                        <label for="mobile">Mobile</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="Toll-free" value="toll-free">
                                        <label for="Toll-free">Toll-free</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="rw_form_inputs" id="div_name">
                                <label class="rw_form_label">Name</label>
                                <div class="rw_input">
                                    <input type="text" placeholder="Enter name/title for your number" id="phone_name" maxlength="30">
                                </div>
                                <div class="form_error" id="name_error"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        <div class="rw_form_inputs rw_select2_inputs">
                            <label  class="rw_form_label">Country</label>
                            <div class="rw_custom_dropdown">
                                <select id="country" class="rw_popup_cstm_dropdown">
                                    <option value="" selected></option>
                                    <option value="AU">Australia</option>
                                    <option value="CA">Canada</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="US">United States</option>
                                </select>

                            </div>
                            <div class="form_error" id="country_error"></div>
                        </div>
                    </div>
                        <div class="col-md-12">
                            <div class="rw_form_inputs">
                                <label class="rw_form_label">Area Code</label>
                                <div class="rw_input">
                                    <input type="text" placeholder="Area Code" id="area_code">
                                </div>
                                <div class="form_error" id="area_code_error"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form_error" id="main_error"></div>
                </div>
                <div class="modal-footer">
                    <ul class="modal_btns">
                        <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                        <li><a href="javascript:;" class="modal_btn rw_next" id="step_1">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
<!------ Add New Number 2------>
    {% csrf_token %}
<div class="modal fade rw_modal add_new_number" id="add_new_number_2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Add New Number</h4>
                </div>
                <a href="javascript:;" class="popup_close cancel_at" data-bs-dismiss="modal" aria-label="Close"><img
                        src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="rw_fieldset_wrapper">
                <div class="cnl_head">
                    <a href="javascript:;" class="rw_prev" id="add_number_back"><img src="{% static 'images/icons/colored_icon/order-arrow-right.svg'%}"
                            alt="">Back</a>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="rw_form_inputs">
                            <label class="rw_form_label">Available Numbers</label>
                        </div>
                        <ul class="number_checkbox" id="phone_list">
                            <li>
                                <input type="checkbox" id="number1">
                                <label for="number1">+99 1234 1234 12</label>
                            </li>
                            <li>
                                <input type="checkbox" id="number2">
                                <label for="number2">+99 1234 1234 12</label>
                            </li>

                        </ul>
                        <div class="rw_checkbox ">
                            <input type="checkbox" id="checkbox" class="check_input">
                            <label for="checkbox">I've read the <a href="https://www.twilio.com/sms/pricing/" target="_blank">Twilio pricing page</a></label>
                        </div>
                    </div>
                </div>
                <div class="form_error" id="step2_error" style="margin-left: 20px;"></div>
                <div class="modal-footer">
                    <ul class="modal_btns">
                        <li><a href="javascript:;" class="modal_btn cancel cancel_at" data-bs-dismiss="modal">cancel</a></li>
                        <li><a href="javascript:;" class="modal_btn purchase_btn" id="step_2">purchase</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {


   $("#country").select2({
    dropdownParent: $("#add_new_number"),
    placeholder: "Country",
    allowClear: false,
    minimumResultsForSearch: -1,
  });
  $(".rw_custom_dropdown .select2-selection").on("click", function (e) {

    e.stopPropagation();
    if ($(this).parents(".rw_custom_dropdown").hasClass("rw_inp_focus")) {
      $(this).parents(".rw_custom_dropdown").removeClass("rw_inp_focus");
    } else {
      $(".rw_custom_dropdown.active").removeClass("rw_inp_focus");
      $(this).parents(".rw_custom_dropdown").addClass("rw_inp_focus");
    }
  });
});
  $(document).on("click", "#phone_delete", function () {
    console.log('asdasdas')
    $('#loader').removeClass('rw_loader_none')
  });
  $(document).on("click", "#make_defult", function () {
    console.log('asdasdas')
    $('#loader').removeClass('rw_loader_none')
  });

$('#area_code').on('keypress', function (event) {
    var regex = new RegExp("^[0-9]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
        event.preventDefault();
        return false;
    }
});

$('#step_1').on('click', function (event) {
    console.log('ssss')
    $('#main_error').text('')
    var regex = new RegExp("^[0-9]+$");
    if ($("#phone_name").val().trim().length <= 0){
        $("#div_name").addClass('error')
        $('#name_error').text('Please enter Name/Title for Number')
    }
    if ($("#country").val() == '' ){
        $('#country_error').text('Please select Country')
    }
    // if (!regex.test($('#area_code').val())){
    //     $('#area_code_error').text('Please enter valid Area Code')
    // }
    $('#phone_name').on('keyup change', function (event) {
        if ($("#phone_name").val().length > 0) {
            $("#name_error").text('')
            $('#div_name').removeClass('error')
        }
    });
    $('#country').on('keyup change', function (event) {
        if ($("#country").val().length > 0) {
            $("#country_error").text('')
            // $('#div_name').removeClass('error')
        }
    });
    if($("#phone_name").val().trim().length > 0 && !$("#country").val() == ''){
         $('#loader').removeClass('rw_loader_none')
         $('#area_code_error').text('')
        link = "{% url 'client-phone-get' client.id %}";
        $.ajax({
            type: 'get',
            url: link,
            data: {
                phone_type:$("input[name='radio']:checked").val(),
                phone_name:$("#phone_name").val(),
                country_code:$("#country").val(),
                area_code:$("#area_code").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
            $('#loader').addClass('rw_loader_none')
            console.log(response)
                if (response['status']==false){
                    $('#main_error').text(response['msg'])
                }else {
                    
                     $('#phone_list').empty();
                      for(let i=0;i<response['phone_no'].length; i++){
                        $('#phone_list').append("<li><div><input type='checkbox' id='"+response['phone_no'][i]+"' name='phone_no' value='"+response['phone_no'][i]+"'><label for='"+response['phone_no'][i]+"'>"+response['phone_no'][i]+"</label></div></li>");
                       }
                      $('#add_new_number').modal('hide');
                       $('#add_new_number_2').modal('show');
                    
                }
            }
        });
    }

});

$('#step_2').on('click', function (event) {
    console.log('step2')
    var array = $.map($('input[name="phone_no"]:checked'), function(c){return c.value; })
    console.log(array.length)
    console.log($('#checkbox').val())
    console.log($('#checkbox').is(':checked'))
    if(array.length <= 0){
        $('#step2_error').text('Please Select any Phone Number')
    }else if($('#checkbox').is(':checked')==false){
        $('#step2_error').text('Please Select Terms & Conditions')
    }else {
         $('#loader').removeClass('rw_loader_none')
        link = "{% url 'client-phone-get' client.id %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                phone_type:$("input[name='radio']:checked").val(),
                phone_name:$("#phone_name").val(),
                phone_no: array,
                country_code:$("#country").val(),
                area_code:$("#area_code").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                $('#loader').addClass('rw_loader_none')
                console.log(response)
                if (response['status'] == true ){
                    location.reload()
                }
            }
        });
    }
});

$('#phone_no_filter').on('change', function(){
    $('#loader').removeClass('rw_loader_none')
    var client_id = $('#client_id').val()
    var type = $(this).val()
    if (type != ""){
        $.ajax({
            type: 'GET',
            url: '{% url "client-phone-no-filter" %}',
            data: {
                type: type,
                id: client_id,
            },
            success: function(response){
                $('#loader').addClass('rw_loader_none')
                $("#client_phone_no_table").html(response)
                $("#rw_cl_phone_table").dataTable({
                    language: {
                    search: "",
                    searchPlaceholder: "Search number/name",
                    paginate: {
                        next: '<img src="/static/images/icons/chevron_right.svg" alt="image">',
                        previous:
                        '<img src="/static/images/icons/chevron_left.svg" alt="image">',
                    },
                    },
                    bPaginate: true,
                    bLengthChange: false,
                    responsive: true,
                    "order": [[ 2, "desc" ]],
                    aoColumnDefs: [
                        {
                            bSortable: true,
                            aTargets: [ -1 ]
                        }
                        ],
                        "columns": [
                            null,
                            null,
                            { "searchable": false },
                            { "searchable": false },
                            { "searchable": false }
                            ],
                        "oLanguage": {
                        "sEmptyTable": "No Records Found"
                    }
                });
            }
        });
    }
});


$('#add_number_back').on('click', function(event){

$(this).closest(".modal").modal("hide");
$('#add_new_number').modal("show");
//    $('body').append("<div class='modal-backdrop fade show'></div>")

});

$('#add_new_number').find('a').slice(0, 2).click(function(){
    $('#Local').prop('checked',true)
    $('#phone_name').val('')
    $('#country').val('').change()
    $('#area_code').val('')
    $('.form_error').empty()
    $("#div_name").removeClass('error')
})
$('.cancel_at').click(function(){
    $('#Local').prop('checked',true)
    $('#phone_name').val('')
    $('#country').val('').change()
    $('#area_code').val('')
    $('.form_error').empty()
    $("#div_name").removeClass('error')
    $('#checkbox').prop('checked',false);
})
// $('body').on('click','.cancel_at', function(){
//     console.log('sadhasdasvdvasjdvjasv')
//     // $('body').addClass('no-backdrop');
//     $('.modal-backdrop').remove();

// });
// $('body').on('click','#add_number', function(){
//     console.log('gayqa')
//     // $('body').removeClass('no-backdrop');
//     $('.modal-backdrop').add();
//     $('.modal-backdrop').removeAttr('style')
// });
$('#add_number').on('click', function(){
    $('#add_new_number').modal('show')
})
$('#add_number_back').on('click', function(){
    $(this).closest(".modal").modal("hide");
    $('#add_new_number').modal('show');
})
</script>
{% endblock %}