{% extends 'client_base.html' %}
{% load tz %}
{% load static %}
{% block title %}
    <title>Client Lists</title>
    {% endblock %}

{% block page_content %}
        <div class="rw_inner_area">
            {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" >
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>{{message}}</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}
            <div class="rw_dashboard_box_wrapper">
                <div class="admin_header agency_header">
                    <div class="dashboard_title">
                        <h1>Lists</h1>
                    </div> 
                </div>
            </div> 
            <div class="admin_user_select">  
               <div class="search_icon_wrapper">                          
                    <div class="rw_dashboard_btn">
                        <a href="javascript:;" class="rw_btn" id="step_calling">+Create New List</a>
                    </div>
               </div>
            </div> 
            <div class="rw_table_wrapper">
                <div class="rw_table_inner rw_admin_user_table rw_client_list_table2">                
                    <table id="rw_cl_list_table" class="table rw_pagination" >
                        <thead>
                            <tr>
                                <th>List Name</th>
                                <th class="text-center">Contacts</th>
                                <th>Date</th>
                                <th class="sorting_none text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in list %}
                           <tr>
                               <td>
                                   <div class="d-flex">
                                       {% if i.name %}
                                    {{i.name}}
                                       {% else %}
                                       N/A
                                       {% endif %}
                                   </div>
                               </td>
                               <td class="text-center">{{i.contacts.all.count}}</td>
                               {% if request.user.time_zone %}
                                {% timezone request.user.time_zone.value %}
                               <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
                               {% endtimezone %}
                               {% else %}
                               <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
                               {% endif %}
                               <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                                         <ul class="action_submenu">                                             
                                             <li><a href="javascript:;" class="remove_action edit_list" list-id="{{i.id}}" id="edit_list"><img src="{% static 'images/icons/edit.svg'%}" alt="image">Edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup-{{i.id}}"><img src="{% static 'images/icons/delete.svg'%}" alt="image">delete</a></li>
                                             <li><a href="{% url 'client-list-broadcast' i.id %}" class="remove_action" ><img src="{% static 'images/icons/colored_icon/campaing.svg'%}" alt="image">Send Broadcast</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                           </tr>
                        <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{i.id}}" tabindex="-1"  aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal_title">
                                            <h4>Delete Contact List</h4>
                                        </div>
                                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="delete_modal_body">
                                            <img src="{% static 'images/delete_popup.svg'%}" alt="">
                                            <h1>Delete Contact List</h1>
                                            <p>Are you sure you want to delete {{i.name}}?</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <ul class="modal_btns">
                                        <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">no</a></li>
                                        <li><a href="{% url 'client-list-delete' i.id %}" class="modal_btn" >yes</a></li>
                                    </ul>
                                    </div>
                                </div>
                                </div>
                        </div>
                        {% endfor %}
                           </tbody>
                    </table>
                </div>
            </div>  
        </div>

<!-- Create new list Popup -->
    <div class="modal fade rw_modal client_list_modal client_smart_list client_list_modal_2" id="client_createnew_list" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Create New List</h4>
                </div>
              <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="rw_fieldset_wrapper">
                <fieldset>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rw_form_inputs" id="div_list">
                                    <label  class="rw_form_label">List Name</label>
                                    <div class="rw_input">
                                        <input type="text" placeholder="List Name" maxlength="30"  id="list_name">
                                    </div>
                                    <div class="form_error" id="list_error"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="rw_form_inputs">
                                    <label  class="rw_form_label">List Type</label>
                                    <ul class="list_type">
                                        <li>
                                            <div class="rw_radio_btns">
                                                <input type="radio" name="list_type_2" value="1" id="static_list" checked="">
                                                <label for="static_list">Static List (Add contacts manually)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rw_radio_btns">
                                                <input type="radio" name="list_type_2" id="smart_list" value="2">
                                                <label for="smart_list">Smart List (Add contacts continuously based on rulers/filters)</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul class="modal_btns">
                            <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal" id="close_1">cancel</a></li>
                            <li><input type="button" id="step_1" value="next" class="modal_btn" style="border:none;"></li>
                        </ul>
                    </div>
                </fieldset>
            </div>

          </div>
        </div>
    </div>
    <!-- Create new list Popup 2-->
    {% csrf_token %}
    <div class="modal fade rw_modal client_list_modal client_smart_list client_list_modal_2" id="client_createnew_static_list"
        tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal_title">
                        <h4>Create New List</h4>
                    </div>
                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img
                            src="{% static 'images/icons/close.svg'%}" alt="close"></a>
                </div>
                <div class="rw_fieldset_wrapper">
                    <fieldset>
                        <div class="cnl_head">
                            <a href="javascript:;" class="rw_prev back_batton" ><img
                                    src="{% static 'images/icons/colored_icon/order-arrow-right.svg'%}" alt="">static list</a>
                        </div>
                        <div class="form_error" id="step2_error" style="margin-left: 26px;margin-top: 10px;"></div>
                        <div class="modal-body">

                            <div class="rw_table_wrapper rw_popup_table_wrapper static_list_table">
                                <div class="rw_table_inner rw_client_contact_table rw_popup_table">
                                    <table id="static_list_id" class="table rw_pagination">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="rw_checkbox ">
                                                        <input type="checkbox" id="Number1" class="check_input">
                                                        <label for="Number1">Number</label>
                                                    </div>
                                                </th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for j in contact %}
                                            <tr>
                                                <td>
                                                    <div class="rw_checkbox ">
                                                        <input type="checkbox" name="number" id="{{j.id}}"
                                                            class="check_input" value="{{j.id}}" >
                                                        <label for="{{j.id}}">{{j.phone_no}}</label>
                                                    </div>
                                                </td>
                                                <td>{% if j.first_name or j.last_name %}{{j.first_name|title}} {{j.last_name|title}}{% else%}N/A{%endif%}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">

                            <ul class="modal_btns">
                                <li><a href="javascript:;" class="modal_btn cancel cancel_at" data-bs-dismiss="modal" id="model_2">cancel</a></li>
                                <li><input type="button" id="step_2" value="Add" class="modal_btn" style="border:none;"></li>
                            </ul>
                        </div>
                    </fieldset>

                </div>

            </div>
        </div>
    </div>
    <!-- Create new list Popup 2-->
    <div class="modal fade rw_modal client_list_modal client_smart_list client_list_modal_2 rw_select2_modal" id="client_createnew_smart_list"
        tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal_title">
                        <h4>Create New List</h4>
                    </div>
                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img
                            src="{% static 'images/icons/close.svg'%}" alt="close"></a>
                </div>
                <div class="rw_fieldset_wrapper">
                    <fieldset>
                        <div class="cnl_head" >
                            <a href="javascript:;" class="rw_prev back_batton"><img
                                    src="{% static 'images/icons/colored_icon/order-arrow-right.svg'%}" alt="">Smart list</a>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="rw_form_inputs">
                                    <label class="rw_form_label">Choose Option</label>
                                    <div class="rw_custom_dropdown">
                                        <select name="condition" class="rw_popup_cstm_dropdown" id="condition">
                                          <option value="0" >Choose Option</option>
                                          <option value="1" >Revenue</option>
                                          <option value="2" >Date</option>
                                        </select>
                                    </div>
                                    <div class="form_error"  id="select_error"></div>
                                </div>
                            </div>
                            <div class="revenue_setting">
                                <div class="revenue_head">
                                    <div class="revenue_title">
                                        <h6>Condition setting</h6>
                                    </div>
                                     <div class="revenue_add_btn">
                                        <a href="#" id="revenue_add">+Add</a>
                                    </div>
                                </div>
                                <div class="condition-field">

                                </div>
                                <div id="feature_error" class="form_error"></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <ul class="modal_btns">
                                <li><a href="javascript:;" class="modal_btn cancel cancel_at" data-bs-dismiss="modal">cancel</a></li>
                                <li><a href="javascript:;" class="modal_btn" id="step3">Save</a></li>
                            </ul>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>


<!--edit list popup-->
  <div class="modal fade rw_modal client_list_modal client_smart_list client_list_modal_2" id="client_edit_list" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Edit List</h4>
                </div>
              <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="rw_fieldset_wrapper">
                <fieldset>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rw_form_inputs" id="div_list_edit">
                                    <label  class="rw_form_label">List Name</label>
                                    <div class="rw_input">
                                        <input type="text" placeholder="List Name" maxlength="30" id="list_name_edit">
                                    </div>
                                    <div class="form_error" id="list_error_edit"></div>
                                </div>
                            </div>
                            <input type="hidden" id="list_id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul class="modal_btns">
                            <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal" id="close_1_edit">cancel</a></li>
                            <li><input type="button" id="step_1_edit" value="next" class="modal_btn" style="border:none;"></li>
                        </ul>
                    </div>
                </fieldset>
            </div>

          </div>
        </div>
    </div>
<!-- Create new list Popup 2-->

<div class="modal fade rw_modal client_list_modal client_smart_list client_list_modal_2" id="client_edit_static_list"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Edit List</h4>
                </div>
                <a href="javascript:;" class="popup_close cancel_at" data-bs-dismiss="modal" aria-label="Close"><img
                        src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="rw_fieldset_wrapper">
                <fieldset>

                    <div class="form_error" id="step2_error_edit" style="margin-left: 26px;margin-top: 10px;"></div>
                    <div class="modal-body">

                        <div class="rw_table_wrapper rw_popup_table_wrapper static_list_table">
                            <div class="rw_table_inner rw_client_contact_table rw_popup_table">
                                <table id="static_list_id_edit" class="table rw_pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="rw_checkbox ">
                                                    <input type="checkbox" id="Number1" class="check_input">
                                                    <label for="Number1">Number</label>
                                                </div>
                                            </th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for j in contact %}
                                        <tr>
                                            <td>
                                                <div class="rw_checkbox ">
                                                    <input type="checkbox" name="number_edit" id="list-{{j.id}}"
                                                        class="check_input" value="{{j.id}}" >
                                                    <label for="list-{{j.id}}">{{j.phone_no}}</label>
                                                </div>
                                            </td>
                                            <td>{% if j.first_name or j.last_name %}{{j.first_name|title}} {{j.last_name|title}}{% else%}N/A{%endif%}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <ul class="modal_btns">
                            <li><a href="javascript:;" class="modal_btn cancel cancel_at" data-bs-dismiss="modal" id="model_2_edit">cancel</a></li>
                            <li><input type="button" id="step_2_edit" value="Save" class="modal_btn" style="border:none;"></li>
                        </ul>
                    </div>
                </fieldset>

            </div>

        </div>
    </div>
</div>




<div class="" style="display: none;" id="revenue-filed">
    <div id="revenue_inputs_wrapper" class="revenue_inputs_wrapper2 rev_input_wrapper">
        <div class="revenue_input_area">
            <div class="revenue_inputs condition_100">
                <div class="rw_form_inputs condition" id="div_rev_select">
                    <label class="rw_form_label">Condition</label>
                    <div class="rw_bootstrap_drop_down">
                        <div class="rw_selectbox">
                            <select  name="rev_select" id="rev_select">
                                <option value="0">Choose Option</option>
                                <option value="1">Is Less Than</option>
                                <option value="2"> Is Greater Than </option>
                                <option value="3">Range</option>

                            </select>
                        </div>
                    </div>
                    <div class="form_error"  id="rev_select_error"></div>
                </div>
                <div class="rw_form_inputs" id="div_rev_input">
                    <label class="rw_form_label">Revenue Amount</label>
                    <div class="rw_input">
                        <input type="text" placeholder="Revenue Amount" id="rev_input" value="">
                    </div>
                     <div class="form_error"  id="rev_input_error"></div>
                </div>
            </div>
            <div class="close_btn">
                <a href="javascript:;" class="revenue_remove"><img
                        src="{% static 'images/icons/close_light.svg'%}" alt="image"></a>
            </div>
        </div>
    </div>
</div>
<div class="" style="display: none;" id="date-filed">
    <div id="date_inputs_wrapper" class="revenue_inputs_wrapper2 rev_input_wrapper">
        <div class="revenue_input_area">
            <div class="revenue_inputs condition_100">
                <div class="rw_form_inputs condition" id="div_date_select">
                    <label class="rw_form_label">Condition</label>
                    <div class="rw_bootstrap_drop_down">
                        <div class="rw_selectbox">
                            <select class="" name="date_select" id="date_select">
                                <option value="0">Choose Option</option>
                                <option value="1">After</option>
                                <option value="2">Before</option>
                                <option value="3">Range</option>

                            </select>
                        </div>
                    </div>
                     <div class="form_error"  id="date_select_error"></div>
                </div>
                <div class="rw_form_inputs" id="div_date_input">
                    <label class="rw_form_label">Date</label>
                    <div class="rw_input">
                        <input type="text" placeholder="Date" id="date_input"  class="smart_date_picker date_input">
                    </div>
                    <div class="form_error"  id="date_input_error"></div>
                </div>
            </div>
            <div class="close_btn">
                <a href="javascript:;" class="date_remove"><img src="{% static 'images/icons/close_light.svg'%}"
                        alt="image"></a>
            </div>
        </div>
    </div>
</div>

<div class="" style="display: none;" id="date-range-filed">
<div id="date_inputs_wrapper" class="rev_input_wrapper revenue_inputs_wrapper2">
    <div class="revenue_input_area">
        <div class="revenue_inputs">
            <div class="rw_form_inputs condition" id="div_date_select">
                <label class="rw_form_label">Condition</label>
                <div class="rw_bootstrap_drop_down">
                    <div class="rw_selectbox">
                       <select class="" name="date_select" id="date_select">
                                <option value="0">Choose Option</option>
                                <option value="1">After</option>
                                <option value="2">Before</option>
                                <option value="3">Range</option>

                       </select>
                    </div>
                </div>
                <div class="form_error"  id="date_select_error"></div>
            </div>
            <div class="rw_form_inputs reven_amt" id="div_date_input">
                <label class="rw_form_label">Date</label>
                <div class="rw_input">
                    <input type="text" placeholder="From" id="date_from" class="smart_date_picker date_input">
                    <input type="text" placeholder="To" id="date_to" class="smart_date_picker date_input">
                </div>
                <div class="form_error"  id="date_input_error"></div>
            </div>
        </div>
        <div class="close_btn">
            <a href="javascript:;" class="date_remove"><img src="{% static 'images/icons/close_light.svg'%}" alt="image"></a>
        </div>
    </div>
    </div>
</div>
<div class="" style="display: none;" id="rev-range-filed">
    <div id="revenue_inputs_wrapper" class="rev_input_wrapper revenue_inputs_wrapper2">
        <div class="revenue_input_area">
            <div class="revenue_inputs">
                <div class="rw_form_inputs condition" id="div_rev_select">
                    <label class="rw_form_label">Condition</label>
                    <div class="rw_bootstrap_drop_down">
                        <div class="rw_selectbox">
                            <select  name="rev_select" id="rev_select">
                                <option value="0">Choose Option</option>
                                <option value="1">Is Less Than</option>
                                <option value="2">Is Greater Than</option>
                                <option value="3" >Range</option>
                            </select>
                        </div>
                    </div>
                    <div class="form_error"  id="rev_select_error"></div>
                </div>
                <div class="rw_form_inputs reven_amt" id="div_rev_input">
                    <label class="rw_form_label">Revenue Amount</label>
                    <div class="rw_input" >
                        <input type="text" placeholder="From" id="rev_from">
                        <input type="text" placeholder="To" id="rev_to">
                    </div>
                     <div class="form_error"  id="rev_input_error"></div>
                </div>
            </div>
            <div class="close_btn">
                <a href="javascript:;" class="revenue_remove"><img
                        src="{% static 'images/icons/close_light.svg'%}" alt="image"></a>
            </div>
        </div>
    </div>
</div>
    <!-- Delete Popup -->

    <!-- </div> -->
{% endblock %}

{% block script %}
<script>

 $(document).ready(function() {
    $("#condition").select2({
        dropdownParent: $("#client_createnew_smart_list"),
        placeholder: "Plan Duration",
        allowClear: false,
        minimumResultsForSearch: -1,
    });


      $(".rw_custom_dropdown .select2-selection").on("click", function (e) {
        console.log('asddfasdasdasdasdasdas')
        e.stopPropagation();
        if ($(this).parents(".rw_custom_dropdown").hasClass("rw_inp_focus")) {
          $(this).parents(".rw_custom_dropdown").removeClass("rw_inp_focus");
        } else {
          $(".rw_custom_dropdown.active").removeClass("rw_inp_focus");
          $(this).parents(".rw_custom_dropdown").addClass("rw_inp_focus");
        }
      });


 });
$('#Number1').change(function () {
    $('.check_input').prop('checked',this.checked);
});

$('.check_input').change(function () {
 if ($('.check_input:checked').length == $('.check_input').length){

  $('#Number1').prop('checked',true);
 }
 else {
  $('#Number1').prop('checked',false);

 }
});

// $('body').on('click','.rw_prev', function(){
//     console.log('sadhasdasvdvasjdvjasv')
//     $('#client_createnew_list').modal('show');
//     $('#client_createnew_static_list').modal('hide');
//     $('#client_createnew_smart_list').modal('hide');
// });
// $('body').on('click','.cancel_at', function(){
//     console.log('sadhasdasvdvasjdvjasv')
//     // $('body').addClass('no-backdrop');
//     $('.modal-backdrop').remove();

// });
// $('body').on('click','#step_calling', function(){
//     console.log('gayqa')
//     // $('body').removeClass('no-backdrop');
//     $('.modal-backdrop').add();
//     $('.modal-backdrop').removeAttr('style')
// });
$("#list_name").on('keyup',function(){
    if ($("#list_name").val().length > 0){
        $("#div_list").removeClass('error')
        $('#list_error').text('')
    }
});
$('#step_1').on('click', function (event) {
    console.log('ssss')
    if ($("#list_name").val().trim().length <= 0){
        $("#div_list").addClass('error')
        $('#list_error').text('Please enter List Name')
    }else{
        $('#loader').removeClass('rw_loader_none')
        link = "{% url 'list-unique' client.id %}";
        $.ajax({
            type: 'GET',
            url: link,
            data: {
                list_name:$("#list_name").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
            $('#loader').addClass('rw_loader_none')
                if (response['status'] == false) {
                     $("#div_list").addClass('error')
                     $('#list_error').text(response['msg'])
                } else {
                    if ($("input[name='list_type_2']:checked").val()=="1" && $("#list_name").val().length > 0){
                        $('#client_createnew_list').modal('hide');
                        $('#client_createnew_static_list').modal('show');
                    }else if ($("input[name='list_type_2']:checked").val()=="2" && $("#list_name").val().length > 0){
                        $('#client_createnew_list').modal('hide');
                        $('#client_createnew_smart_list').modal('show');
                    }
                }

            }
        });

    }
});
$('#step_2').on('click', function (event) {
    var array = $.map($('input[name="number"]:checked'), function(c){return c.value; })
    console.log(array.length)
    if (array.length <= 0){
        $("#step2_error").text("Please Select Any Contact")
    }
    if (array.length > 0){
        $('#loader').removeClass('rw_loader_none')
        link = "{% url 'client-list' client.id %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                contact_id: array,
                list_name:$("#list_name").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
            $('#loader').addClass('rw_loader_none')
                if (response['status'] == false) {
                    $('#error').text(response['message'])
                } else {
                    location.reload()
                }

            }
        });
    }
});
var rev_template = $('#revenue-filed').html();
var rev_range_template = $('#rev-range-filed').html();
var date_range_template = $('#date-range-filed').html();
var date_template = $('#date-filed').html();

var feature_rev_div = 0
var feature_date_div = 0
$('body').on('click','#revenue_add', function(){
    console.log('asdasd')
    $('#select_error').text('')
    if ($("#condition").val()=="1"){
        console.log(feature_rev_div,'before')
        console.log($('.condition-field  #revenue_inputs_wrapper').length + 1 ,'Count')

        feature_rev_div = $('.condition-field #revenue_inputs_wrapper').children().length + 1
        console.log(feature_rev_div)
        if(feature_rev_div > 1){

            return true
        }
        $('.condition-field').append(rev_template);


    }else if ($("#condition").val()=="2"){
        console.log(feature_rev_div,'before')
        feature_date_div = $('.condition-field #date_inputs_wrapper').children().length + 1
        console.log(feature_date_div)
        if(feature_date_div > 1){

            return true
        }
        $('.condition-field').append(date_template);
        $(function () {
          $(".smart_date_picker").datepicker({
            dateFormat: "yy-mm-dd",
            dropdownParent: $("#client_createnew_smart_list"),
          });
        });
        $(".date_input").click(function (e) {
            console.log('asdasdasdasdasdasdasdasdas')
          $(".modal").addClass("overflow_hidden");
          e.stopPropagation();
        });

        $(document).on("click", function (e) {
          if ($(e.target).is(".modal") === false) {
            $(".modal").removeClass("overflow_hidden");
          }
        });
    }else{
        $('#select_error').text('Please select Condition')
    }

});

$('body').on('change','#rev_select', function(){
    console.log('tryuedas')
    $('#rev_select_error').text('')
    $('#div_rev_select').removeClass('error')
    var value=$("#rev_select").val();
    if ($("#rev_select").val()=="3"){
        console.log('tryuedas12132132')
        $(this).closest("#revenue_inputs_wrapper").remove();
        $('.condition-field').append(rev_range_template);
        $("#rev_select").val(value);

    }else{
        console.log('tryuedassdahvbjhdvbasvashv')
         $(this).closest("#revenue_inputs_wrapper").remove();
        $('.condition-field').append(rev_template);
        $("#rev_select").val(value);
    }

});
$('body').on('change','#date_select', function(){
    console.log('tryuedas')
     $('#date_select_error').text('')
    $('#div_date_select').removeClass('error')
    var value=$("#date_select").val();
    if ($("#date_select").val()=="3"){
        console.log('tryuedas12132132')
        $(this).closest("#date_inputs_wrapper").remove();
        $('.condition-field').append(date_range_template);
        $("#date_select").val(value);

    }else{
        console.log('tryuedassdahvbjhdvbasvashv')
         $(this).closest("#date_inputs_wrapper").remove();
        $('.condition-field').append(date_template);
        $("#date_select").val(value);
    }
    $(function () {
          $(".smart_date_picker").datepicker({
            dateFormat: "yy-mm-dd",
            dropdownParent: $("#client_createnew_smart_list"),
          });
        });

});

$('body').on('click','.revenue_remove', function(){
  $(this).closest("#revenue_inputs_wrapper").remove();
});
$('body').on('click','.date_remove', function(){
  $(this).closest("#date_inputs_wrapper").remove();
});


$(document).on("click", "#step3", function () {
    var select=true;
    var input=true;
    console.log($('.condition-field #date_inputs_wrapper').children().length,'date')
    console.log($('.condition-field #revenue_inputs_wrapper').children().length,'range')
    var div_length = $('.condition-field #date_inputs_wrapper').children().length + $('.condition-field #revenue_inputs_wrapper').children().length;
    console.log(div_length)
    console.log(typeof $("#date_input").val(),'asdasdasd')
    console.log(typeof Date($("#date_from").val()),'asdasasdasdasdasdasd')
    console.log(Date($("#date_from").val()),'asdfasdasdqw')

    if ( div_length <= 0 ){
        $('#select_error').text('Please select Condition')
        select=false;
    }
    if($(".condition-field #rev_select").val()=="0" ){
        $('#rev_select_error').text('Please Select Revenue Condition')
        $('#div_rev_select').addClass('error')
        select=false;
    }
    if($(".condition-field #date_select").val()=="0"){
        $('#date_select_error').text('Please Select Date Condition')
        $('#div_date_select').addClass('error')
         select=false;
    }
    if($("#date_select").val()=="3"){
        var from = $("#date_from").val().split("-")
        var to = $("#date_to").val().split("-")

        console.log(from)

        var from_date=new Date(from[0], from[1]-1 , from[2])
        var to_date=new Date(to[0], to[1]-1, to[2])

        console.log(from_date)
        console.log(to_date)

        if ($("#date_from").val().length <= 0 || $("#date_to").val().length <= 0 ){
            $('#date_input_error').text('Please Select Date ')
            $('#div_date_input').addClass('error')
            input=false;
        }else if ($("#date_from").val() == $("#date_to").val() ) {
            console.log('asdasdasdasDasdasdasdasdas')
            $('#date_input_error').text('Please select proper Date ')
            $('#div_date_input').addClass('error')
            input=false;
        }else if (from_date >= to_date ){
            $('#date_input_error').text('Please select proper Date ')
            $('#div_date_input').addClass('error')
            input=false;
        }
    }else if($("#date_select").val()=="2" || $("#date_select").val()=="1"){
        if ($("#date_input").val().length <= 0 ){
            $('#date_input_error').text('Please Select Date')
            $('#div_date_input').addClass('error')
            input=false;
        }
    }
    if($("#rev_select").val()=="3"){
        if ($("#rev_from").val().length <= 0 || $("#rev_to").val().length <= 0 ){
            $('#rev_input_error').text('Please enter Revenue amount')
            $('#div_rev_input').addClass('error')
            input=false;
        }
    }else if ($("#rev_select").val()=="2" || $("#rev_select").val()=="1"){
        if ($("#rev_input").val().length <= 0 ){
            $('#rev_input_error').text('Please enter Revenue amount')
            $('#div_rev_input').addClass('error')
            input=false;
        }
    }
    console.log(select)
    console.log(input)
    if (select==true && input==true){
        $('#loader').removeClass('rw_loader_none')
        link = "{% url 'client-list' client.id %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                revenue_select: $('#rev_select').val(),
                revenue_val: $('#rev_input').val(),
                rev_from: $('#rev_from').val(),
                rev_to: $('#rev_to').val(),
                date_select: $('#date_select').val(),
                date_val: $('#date_input').val(),
                date_from: $('#date_from').val(),
                date_to: $('#date_to').val(),
                list_name:$("#list_name").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
            $('#loader').addClass('rw_loader_none')
                if (response['status'] == false) {
                    $('#feature_error').text(response['msg'])
                } else {
                    location.reload()
                }

            }
        });

    }
});

$(document).on("click", "#edit_list", function () {
    var list_id = $(this).attr('list-id');
    link = "{% url 'client-list-edit' %}";
    $.ajax({
        type: 'GET',
        url: link,
        data: {
            list_id: list_id,
        },
        success: function (response) {
            console.log(response)
            console.log(response['data']['contacts'].length)
                $('#list_name_edit').val(response['data']['name'].trim())
                $('#list_id').val(response['data']['id'])
                for (var i=0; i<response['data']['contacts'].length; i++)
                {
                    console.log('list-'+response['data']['contacts'][i])
                    $('#list-'+response['data']['contacts'][i]).prop('checked', true);
                 }

        }
    });
});
$('#step_1_edit').on('click', function (event) {
    console.log('edit')
    if ($("#list_name_edit").val().trim().length <= 0){
        $("#div_list_edit").addClass('error')
        $('#list_error_edit').text('Please enter List Name')
    }else{
        $('#client_edit_list').modal('hide');
        $('#client_edit_static_list').modal('show');
    }
});
$('#step_2_edit').on('click', function (event) {
    var array = $.map($('input[name="number_edit"]:checked'), function(c){return c.value; })
    console.log(array.length)
    if (array.length <= 0){
        $("#step2_error_edit").text("Please Select Any Contact")
    }
    if (array.length > 0){
        $('#loader').removeClass('rw_loader_none')
        link = "{% url 'client-list-edit' %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                contact_id: array,
                list_name:$("#list_name_edit").val(),
                list_id:$('#list_id').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
            $('#loader').addClass('rw_loader_none')
                if (response['status'] == false) {
                    $('#error').text(response['message'])
                } else {
                    location.reload()
                }

            }
        });
    }
});

$('#client_createnew_list').find('a').click(function(){
    $('#list_name').val('')
    $('.form_error').empty()
    $("#div_list").removeClass("error")
    $('.check_input').prop('checked',false);
    $('#static_list').prop('checked',true);
    $('#condition').val(0).change()
})

$('.cancel_at').click(function(){
    $('#list_name').val('')
    $('.form_error').empty()
    $("#div_list").removeClass("error")
    $('.check_input').prop('checked',false);
    $('#static_list').prop('checked',true);
    $('#condition').val(0).change()
})

$('#step_calling').on('click', function(){
    $('#client_createnew_list').modal('show');
})
$('.back_batton').on('click', function(){
    $(this).closest(".modal").modal("hide");
    $('#client_createnew_list').modal('show');
})
$('.edit_list').on('click', function(){
    $('#client_edit_list').modal('show');
})

$(document).on('keypress', '#rev_input', function(event) {
    var regex = new RegExp("^[0-9]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
        event.preventDefault();
        return false;
    }
});
$(document).on('keypress', '#rev_to', function(event) {
    var regex = new RegExp("^[0-9]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
        event.preventDefault();
        return false;
    }
});
$(document).on('keypress', '#rev_from', function(event) {
    var regex = new RegExp("^[0-9]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
        event.preventDefault();
        return false;
    }
});
</script>
{% endblock %}