{% extends 'client_base.html' %}
{% load tz %}
{% load static %}
{% load tag_filter %}
{% block title %}
<title>Client Referrral Campaigns</title>
{% endblock %}
{% block page_content %}
        <div class="rw_inner_area">
            {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" >
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p></p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}
            <div class="rw_dashboard_box_wrapper">
                <div class="admin_header agency_header">
                    <div class="dashboard_title">
                        <h1>Referral Campaigns</h1>
                    </div> 
                </div>
            </div> 
            <div class="admin_user_select">  

               <div class="search_icon_wrapper">                          
                    <div class="rw_dashboard_btn">
                        <a href="javascript:;" class="rw_btn" data-bs-toggle="modal" data-bs-target="#add_referral_campaign">+Add referral campaign</a>
                    </div>
               </div>
            </div>

            <div class="rw_table_wrapper">
                <div class="rw_table_inner rw_admin_user_table rw_coupon_table">                
                    <table id="rw_referral_campaign_table" class="table rw_pagination" >
                        <thead>
                            <tr>
                                <th>Name</th>                                
                                <th>Date</th>
                                <th class="sorting_none text-center">Discount</th>
                                <th class="sorting_none text-center">Reward</th>
                                <th class="sorting_none text-center">Referrals</th>
                                <th class=" text-center">sales</th>
                                <th class="sorting_none text-center">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in referral_camps %}
                           <tr>
                               <td>{{i.ref_camp_name|title}}</td>
                               {% if request.user.time_zone %}
                                {% timezone request.user.time_zone.value %}
                               <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at|date:"j M, Y h:i A"}}</td>
                               {% endtimezone %}
                               {% else %}
                               <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at|date:"j M, Y h:i A"}}</td>
                               {% endif %}
                               <td class="text-center">{% if i.ref_coupon.discount_type == "percentage" %}{{i.ref_coupon.discount_value|roundoff}}%{% else %}${{i.ref_coupon.discount_value|roundoff}}{% endif %}</td>
                               <td class="text-center">{% if i.reward_coupon.discount_type == "percentage" %}{{i.reward_coupon.discount_value|roundoff}}%{% else %}${{i.reward_coupon.discount_value|roundoff}}{% endif %}</td>
                               <td class="text-center">{%if i.is_read_count %}{{i.is_read_count}}{%else%}0{%endif%}</td>
                               <td class="text-center">${% if i.total %}{{i.total|roundoff}}{%else%}0{%endif%}</td>
                               <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                                         <ul class="action_submenu">                                             
                                             <!-- <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'images/icons/edit.svg'%}" alt="image">Edit</a></li> -->
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup-{{i.id}}"><img src="{% static 'images/icons/delete.svg'%}" alt="image">delete</a></li>
                                             <!-- <li><a href="javascript:;" class="remove_action" ><img src="{% static 'images/icons/colored_icon/campaing.svg'%}" alt="image">Send Broadcast</a></li> -->
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                           </tr>
                           
                        <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{i.id}}" tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal_title">
                                        <h4>Delete Referral Campaign</h4>
                                    </div>
                                  <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="delete_modal_body">
                                        <img src="{% static 'images/delete_popup.svg'%}" alt="">
                                        <h1>Delete  Referral Campaign</h1>
                                        <p>Are you sure you want to delete {{i.ref_camp_name|title}}?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                 <ul class="modal_btns">
                                     <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">no</a></li>
                                     <li><a href="{% url 'referral-campaign-delete' i.id %}" id="contact_delete_id" class="modal_btn" >Yes</a></li>
                                 </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>

<!-- Add Referral Campaign -->
{% csrf_token %}
    <div class="modal fade rw_modal add_contact rw_select2_modal" id="add_referral_campaign" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Create New Referral Campaign</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_name">
                            <label  class="rw_form_label">Referral Name</label>
                            <div class="rw_input">
                                <input type="text" placeholder="Referral Name" id="referral_name" maxlength="30">
                            </div>
                            <div class="form_error" id="name_error"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_select2_inputs" id="div_discount_type">
                            <label  class="rw_form_label">Discount type</label>
                            <div class="rw_custom_dropdown">
                                <select name="dis_type" id="dis_type" class="rw_popup_cstm_dropdown">
                                    <option value="">Select Discount Type</option>
                                    <option value="2">Dollar</option>
                                    <option value="1">Percentage</option>
                                </select>
                            </div>
                            <div class="form_error" id="dis_type_error"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="rw_form_inputs" id="div_discount_value">
                            <label  class="rw_form_label">Discount Value</label>
                            <div class="rw_input">
                                <input type="text" placeholder="Discount Value" id="dis_value"  maxlength="6">
                            </div>
                            <div class="form_error" id="value_error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rw_form_inputs" id="div_spend">
                                <label  class="rw_form_label">Minimum Spend ($)</label>
                                <div class="rw_input">
                                    <input type="text" placeholder="Minimum Spend ($)"  id="spend" maxlength="6">
                                </div>
                                <div class="form_error" id="spend_error"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_select2_inputs" id="div_reward_type">
                            <label  class="rw_form_label">Reward type</label>
                            <div class="rw_custom_dropdown">
                                <select name="reward_type" id="reward_type" class="rw_popup_cstm_dropdown">
                                    <option value="">Select Reward Type</option>
                                    <option value="2">Dollar</option>
                                    <option value="1">Percentage</option>
                                </select>
                            </div>
                            <div class="form_error" id="reward_type_error"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="rw_form_inputs" id="div_reward_value">
                            <label  class="rw_form_label">Reward Value</label>
                            <div class="rw_input">
                                <input type="text" placeholder="Reward Value" id="reward_value"  maxlength="6">
                            </div>
                            <div class="form_error" id="reward_value_error"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                <li><a href="javascript:;" class="modal_btn" id="create_referral" >create</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>

    <!-- </div> -->
    
 {% endblock %}

{% block script %}
<script>

$(".date_input").click(function (e) {
  $(".modal").addClass("overflow_hidden");
  e.stopPropagation();
});

$(document).on("click", function (e) {
  if ($(e.target).is(".modal") === false) {
    $(".modal").removeClass("overflow_hidden");
  }
});

$(document).ready(function () {
    $("#dis_type").select2({
        dropdownParent: $("#add_referral_campaign"),
        placeholder: "Select Discount Type",
        allowClear: false,
        minimumResultsForSearch: -1,
    });
    $("#reward_type").select2({
        dropdownParent: $("#add_referral_campaign"),
        placeholder: "Select Reward Type",
        allowClear: false,
        minimumResultsForSearch: -1,
    });
});


// $('body').on('click','.check_input', function(){
//     console.log('asdasdasd')
//     console.log($('input[type="checkbox"]').prop('checked'))
//     if ($("#no_end").prop('checked') == false){
//         $("#datepicker2").removeClass('date_disabled')
//         $("#datepicker2").prop("disabled", false);
//         $("#div_to").removeClass('error')
//         $('#to_error').text('')
//     }else{
//         $("#datepicker2").addClass('date_disabled')
//         $("#datepicker2").prop("disabled", true);
//         $("#div_to").removeClass('error')
//         $('#to_error').text('')
//         $("#datepicker2").val('')
//     }
// });
$('body').on('change','#dis_type', function(){
    console.log('asdasdas')
   $('#dis_type_error').text('')
});
$('body').on('change','#reward_type', function(){
    console.log('asdasdas')
   $('#reward_type_error').text('')
});
$('#referral_name').on('keyup', function (event) {
    if ($("#referral_name").val().trim().length > 0){
        $("#div_name").removeClass('error')
        $('#name_error').text('')
    }
});
$('#dis_value').on('keyup', function (event) {
    if ($("#dis_value").val().trim().length > 0){
        $("#div_discount_value").removeClass('error')
        $('#value_error').text('')
    }
});
$('#reward_value').on('keyup', function (event) {
    if ($("#reward_value").val().trim().length > 0){
        $("#div_reward_value").removeClass('error')
        $('#reward_value_error').text('')
    }
});
$('#spend').on('keyup', function (event) {
    if ($("#spend").val().trim().length > 0){
        $("#div_spend").removeClass('error')
        $('#spend_error').text('')
    }
});
$('#dis_value').on('keypress', function (event) {
    var regex = new RegExp("^[0-9\.]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
       event.preventDefault();
       return false;
    }
});
$('#spend').on('keypress', function (event) {
    var regex = new RegExp("^[0-9\.]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
       event.preventDefault();
       return false;
    }
});
$('#datepicker').on('change', function (event) {
    if ($("#datepicker").val().trim().length > 0){
        $("#div_from").removeClass('error')
        $('#from_error').text('')
    }
});
$('#datepicker2').on('change', function (event) {
    if ($("#datepicker2").val().trim().length > 0){
        $("#div_to").removeClass('error')
        $('#to_error').text('')
    }
});




$('body').on('click','#create_referral', function(){
    var valid=true;
    var end=true;
    console.log('asdasdasd')
    if ($("#referral_name").val().trim().length <= 0 ){
        $("#div_name").addClass('error')
        $('#name_error').text('Please enter Referral Name')
        valid=false;
    }
    if ($("#dis_type").val() == "" ){
        $("#div_type").addClass('error')
        $('#dis_type_error').text('Please select Discount Type')
        valid=false;
    }

     if ($("#dis_value").val().trim().length <= 0 ){
        $("#div_discount_value").addClass('error')
        $('#value_error').text('Please enter Discount Value')
        valid=false;
    }
    if ($("#dis_type").val() == "1" ){
        console.log(parseInt($("#dis_value").val()))
        if (parseInt($("#dis_value").val()) <= 0 || $("#dis_value").val() > 100 ){
            $("#div_discount_value").addClass('error')
            $('#value_error').text('Please enter proper Discount Value')
            valid=false;
        }
    }
    if ($("#spend").val().trim().length <= 0 ){
        $("#div_spend").addClass('error')
        $('#spend_error').text('Please enter Mininum Spend')
        valid=false;
    }

    if ($("#reward_type").val() == "" ){
        $("#div_reward_type").addClass('error')
        $('#reward_type_error').text('Please select Reward Type')
        valid=false;
    }

     if ($("#reward_value").val().trim().length <= 0 ){
        $("#div_reward_value").addClass('error')
        $('#reward_value_error').text('Please enter Reward Value')
        valid=false;
    }
    if ($("#reward_type").val() == "1" ){
        console.log(parseInt($("#reward_value").val()))
        if (parseInt($("#reward_value").val()) <= 0 || $("#reward_value").val() > 100 ){
            $("#div_reward_value").addClass('error')
            $('#reward_value_error').text('Please enter proper Discount Value')
            valid=false;
        }
    }

    if (valid==true){
        $('#loader').removeClass('rw_loader_none')
        link = "{% url 'client-referral-campaign' client.id %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                name:$("#referral_name").val(),
                dis_type:$("#dis_type").val(),
                dis_value:$("#dis_value").val(),
                spend:$("#spend").val(),
                reward_type:$("#reward_type").val(),
                reward_value:$("#reward_value").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
            $('#loader').addClass('rw_loader_none')
                console.log(response)
                location.reload()
            }
        });
    }
});
$('#add_referral_campaign').find('a').slice(0, 2).click(function(){
    $('#coupon_name').val('')
    $('#dis_type').val('').change()
    $('#dis_value').val('')
    $('#spend').val('')
    $('#reward_type').val('').change()
    $('#reward_value').val('')

    $('.form_error').empty()
    
    $("#div_name").removeClass('error')
    $("#div_type").removeClass('error')
    $("#div_discount_value").removeClass('error')
    $("#div_spend").removeClass('error')
    $("#div_reward_type").removeClass('error')
    $("#div_reward_value").removeClass('error')
})
</script>
{% endblock %}