{% extends 'client_base.html' %}
{% load static %}
{% load tz %}
{% block title %}
    <title>Client Custom Fields</title>
{% endblock %}
{% block page_content %}
<div class="rw_inner_area rw_inner_form_area rw_modal_backdrop">
    <div class="rw_tabs">
        <ul class="nav rw_tab_ul" id="myTab" role="tablist">
            
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-settings' client.id %}" class="tab_link " id="business_settings_tab" >Business settings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-user' client.id %}" class="tab_link" id="campaign_user_tab"
                    data-bs-target="#campaign_user" aria-selected="false">Users</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-phone-view' client.id %}" class="tab_link" id="campaign_phone_numbers_tab" >Phone Numbers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'add-custom-fields' client.id %}" class="tab_link active" id="campaign_custom_fields_tab" >Custom fields</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'client-tag-view' client.id %}" class="tab_link " id="campaign_custom_tag_tab" >Tags</a>
            </li>
            
            




        </ul>
    </div>

      {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" style="padding-left: 50px; padding-top: 20px;">
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>{{message}}</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" style="padding-left: 50px; padding-top: 20px;">
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}
   
        <div class="tab-content ">
            <div class="tab-pane active" id="campaign_custom_fields" role="tabpanel" >
                <div class="rw_inner_tab_area user_tab_content ">
                    <div class="admin_user_select">  
                        <div class="rw_selectbox tags">
                            <select  >
                                <option value="">Type</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    <div class="search_icon_wrapper">                          
                            <div class="rw_dashboard_btn">
                                <a href="javascript:;" class="rw_btn" data-bs-toggle="modal" data-bs-target="#add_custom_field">+Add field</a>
                            </div>
                    </div>
                    </div> 
                    <div class="rw_table_wrapper">
                        <div class="rw_table_inner rw_admin_user_table  rw_custom_field_table ">                
                            <table id="compaign_custom_field" class="table rw_pagination" >
                                <thead>
                                    <tr>
                                        <th>Custom Field</th>
                                        <th>Type</th>
                                        <th class=" text-center">Placeholder</th>
                                        <th>Date</th>
                                        <th class="sorting_none text-center">actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in custom_fields %}                    
                                <tr>
                                    <td>{{i.field_name}}</td>
                                    {% if i.field_type == 'text' %}
                                    <td>Text</td>
                                    {% endif %}
                                    {% if i.field_type == 'textarea' %}
                                    <td>Large Text</td>
                                    {% endif %}
                                    {% if i.field_type == 'date' %}
                                    <td>Date</td>
                                    {% endif %}
                                    {% if i.field_type == 'number' %}
                                    <td>Numerical</td>
                                    {% endif %}
                                    {% if i.field_type == 'datetime-local' %}
                                    <td>Date Time</td>
                                    {% endif %}
                                        <td><div class="default_label"><span>{% if i.field_placeholder %}{{i.field_placeholder|upper}}{% else %}N/A{% endif %}</span></div></td>
                                    {% if request.user.time_zone %}
                                    {% timezone request.user.time_zone.value %}
                                    <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
                                    {% endtimezone %}
                                    {% else %}
                                    <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
                                    {% endif %}
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn" id="action_btn"><img src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action edit_field" data-bs-toggle="modal" data-bs-target="#edit_custom_field" field-id="{{i.id}}"><img src="{% static 'images/icons/edit.svg'%}" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action delete_field" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup" field-id="{{i.id}}"><img src="{% static 'images/icons/delete.svg'%}" alt="image">delete</a></li>
                                                    <!-- <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li> -->
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <!-- <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Webinar
                                        </td>
                                    <td>Date</td>
                                        <td><div class="default_label"><span>webinar</span></div></td>
                                    <td>Added on 3 Dec, 2021  03:00 PM</td>
                                    <td class="text-center">
                                        <div class="action_dropdown">
                                        <ul class="drop_ul">
                                            <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                                <ul class="action_submenu">                                             
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">Edit</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                    <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/colored_icon/campaing.svg" alt="image">Send Broadcast</a></li>
                                                </ul>
                                            </li>
                                        </ul>                                    
                                        </div>
                                    </td>
                                </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
            </div>
        </div>


    <!-- Create Custom Fields Popup -->
    <div class="modal fade rw_modal client_list_modal" id="add_custom_field" tabindex="-1"  aria-hidden="true">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Add Custom Field</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_field_name">
                            <label  class="rw_form_label">Field Name</label>
                            <div class="rw_input">
                                <input type="text" name="field_name" id="field_name" placeholder="eg: Event, Notes, Budget, Gender" value=""  maxlength="30">
                            </div>
                            <div class="form_error" id="error_field_name"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="rw_form_inputs">
                            <label  class="rw_form_label">Placeholder</label>
                            <div class="rw_input">
                                <input type="text" name="placeholder_name" id="placeholder_name" placeholder="Enter placeholder name for field" value="" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="rw_form_inputs">
                            <label  class="rw_form_label">Choose Field Type </label>
                            <ul class="list_type">
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="text" value="text" checked="">
                                        <label for="text">Text</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="large_text" value="textarea">
                                        <label for="large_text">Large Text</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="Date" value="date">
                                        <label for="Date">Date</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="Numerical" value="number">
                                        <label for="Numerical">Numerical</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="rw_form_inputs">
                            <label class="rw_form_label">Choose Field Type</label>
                            <div class="rw_custom_dropdown">
                                <select name="custom_field_type" class="rw_popup_cstm_dropdown" id="custom_field_type">
                                  <option value="text" selected>Text</option>
                                  <option value="textarea">Large Text</option>
                                  <option value="date">Date</option>
                                  <option value="number">Numerical</option>
                                  <option value="datetime-local">Date Time</option>
                                </select>
                            </div>
                            <div class="form_error"  id="select_error"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <input type="hidden" name="client_id" value="{{client.id}}">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                <li><a href="javascript:;" class="modal_btn" id="add_new_field">Add</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>

    <!-- Edit Custom Fields Popup -->
    <div class="modal fade rw_modal client_list_modal" id="edit_custom_field" tabindex="-1"  aria-hidden="true">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Edit Custom Field</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_field_name_edit">
                            <label  class="rw_form_label">Field Name</label>
                            <div class="rw_input">
                                <input type="text" name="field_name" id="edit_field_name" placeholder="eg: Event, Notes, Budget, Gender" value=""  maxlength="30">
                            </div>
                            <div class="form_error" id="error_field_name_edit"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="rw_form_inputs">
                            <label  class="rw_form_label">Placeholder</label>
                            <div class="rw_input">
                                <input type="text" name="placeholder_name" id="edit_placeholder_name" placeholder="Enter placeholder name for field" value="" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="rw_form_inputs">
                            <label  class="rw_form_label">Choose Field Type </label>
                            <ul class="list_type">
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="text" value="text" checked="">
                                        <label for="text">Text</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="large_text" value="textarea">
                                        <label for="large_text">Large Text</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="Date" value="date">
                                        <label for="Date">Date</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="rw_radio_btns">
                                        <input type="radio" name="radio" id="Numerical" value="number">
                                        <label for="Numerical">Numerical</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
            <input type="hidden" name="client_id" value="{{client.id}}">
            <input type="hidden" name="field_id" value="">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                <li><a href="javascript:;" class="modal_btn" id="edit_field">Save</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>


    <!-- Delete Popup -->
    <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Delete Field</h4>
                </div>
              <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="delete_modal_body">
                    <img src="{% static 'images/delete_popup.svg' %}" alt="">
                    <h1 id="bulk_h1">Delete Field</h1>
                    <p id="bulk_p">Are you sure you want to delete field?</p>
                </div>
            </div>
            <div class="modal-footer">
            <input type="hidden" name="field_id" value="">
             <ul class="modal_btns">
                 <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">no</a></li>
                 <li><a href="javascript:;" class="modal_btn" id="delete_field">Yes</a></li>
             </ul>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#custom_field_type").select2({
                dropdownParent: $("#add_custom_field"),
                placeholder: "Field Type",
                allowClear: false,
                minimumResultsForSearch: -1,
            });
        })
        $('#add_new_field').on('click', function(){
        var valid = true;
        console.log($("input[name='client_id']").val()+" Cilent ID")
        console.log($("input[name='field_name']").val()+" Fiels Name")
        console.log($('#custom_field_type').val()+" Fiels Type")
        if ($("#field_name").val().trim().length <= 0){
                $('#error_field_name').text('Please enter Field Name')
                $("#div_field_name").addClass('error')
                valid=false;
            }
        if (valid==true) {
            $('#loader').removeClass('rw_loader_none')
            $.ajax({
                type: 'POST',
                url: "{% url 'add-custom-fields' client.id %}",
                data: {
                    client_id: $("input[name='client_id']").val(),
                    field_name: $("input[name='field_name']").val(),
                    placeholder_name: $("input[name='placeholder_name']").val(),
                    field_type: $('#custom_field_type').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response){
                    $('#loader').addClass('rw_loader_none')
                    console.log(response)
                    location.reload()
                }
            });
        }
    });

    $('.edit_field').on('click', function(){
        var client_id = $("input[name='client_id']").val()
        var field_id = $(this).attr('field-id')
        $("input[name='field_id']").val(field_id)
        console.log(client_id);
        $.ajax({
            type: 'GET',
            url: "{% url 'client-custom-field' %}",
            data: {
                client_id: client_id,
                field_id: field_id,
            },
            success: function(response){
                console.log(response);
                $('#edit_field_name').val(response['data']['field_name'])
                $('#edit_placeholder_name').val(response['data']['field_placeholder'])
            }
        });
    });

    $('#edit_field').on('click', function(){
        var valid = true;
        var field_id=$("input[name='field_id']").val()
        console.log(field_id);
        var field_name = $('#edit_field_name').val()
        var placeholder_name = $('#edit_placeholder_name').val()
        console.log(field_name);
        if ($("#edit_field_name").val().trim().length <= 0){
                $('#error_field_name_edit').text('Please enter Field Name')
                $("#div_field_name_edit").addClass('error')
                valid=false;
            }
        if (valid==true) {
            $.ajax({
                type: 'POST',
                url: "{% url 'client-custom-field' %}",
                data: {
                    field_id: field_id,
                    field_name: field_name,
                    placeholder_name: placeholder_name,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response){
                    $('#loader').addClass('rw_loader_none')
                    console.log(response)
                    location.reload()
                }
            });
        }
    });

    $('.delete_field').on('click', function(){
        var field_id = $(this).attr('field-id')
        $("input[name='field_id']").val(field_id)
        console.log($("input[name='field_id']").val());
    });

    $('#delete_field').on('click', function(){
        var field_id = $("input[name='field_id']").val()
        $.ajax({
            type: 'GET',
            url: "{% url 'delete-custom-field' %}",
            data: {
                field_id: field_id,
            },
            success: function(response){
                console.log(response);
                location.reload()
            }
        });
    });
    $(".search_icon_wrapper").find('a').click(function(){
        $("#error_field_name").empty()
        $("#div_field_name").removeClass("error")
        $("#field_name").val("")
        $("#placeholder_name").val("")
    })
    $("#action_btn").click(function(){
        $("#error_field_name_edit").empty()
        $("#div_field_name_edit").removeClass("error")
        $("#edit_field_name").val("")
    })
    $('#field_name').on('keyup', function(){
        if ($("#field_name").val().trim().length > 0){
            $("#error_field_name").empty()
            $("#div_field_name").removeClass("error")
        }
    });
    $('#edit_field_name').on('keyup', function(){
        if ($("#edit_field_name").val().trim().length > 0){
            $("#error_field_name_edit").empty()
            $("#div_field_name_edit").removeClass("error")
        }
    });
    
    </script>
{% endblock %}