{% load static %}
{% load tz %}
{% load tag_filter %}

<table id="rw_cl_contact_table" class="table rw_pagination ">
    <thead>
        <tr>
            <th class="sorting_none">
                <div class="rw_checkbox ">
                    <input type="checkbox" id="Number1" class="check_input">
                    <label for="Number1"></label>
                </div>
            </th>
            <th>Number</th>
            <th>Name</th>
            <th>Date</th>
            <th class="text-center">Sales</th>
            <th class="sorting_none text-center">status</th>
            <th class="sorting_none text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in contact %}
        <tr>
            <td>
                <div class="rw_checkbox ">
                    <input type="checkbox" name="checkbox2" id="checkbox2-{{i.id}}" class="check_input"
                        value="{{i.id}}">
                    <label for="checkbox2-{{i.id}}"></label>
                </div>
            </td>
            <td>{{i.phone_no}}</td>
            <td>{% if i.first_name or i.last_name %}{{i.first_name|title}} {{i.last_name|title}}{%else%}N/A{%endif%}</td>
            {% if request.user.time_zone %}
            {% timezone request.user.time_zone.value %}
            <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
            {% endtimezone %}
            {% else %}
            <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
            {% endif %}
            <td class="text-center">${%if i.sales %}{{i.sales|million}}{%else%}0{%endif%}</td>
            <td class="text-center">
                <div class="rw_toggle_switch">
                    <div class="rw_switch">
                        <input type="checkbox" checked>
                    </div>
                </div>
            </td>
            <td class="text-center">
                <div class="action_dropdown">
                    <ul class="drop_ul">
                        <li class="position-relative"><a href="javascript:;" class="action_btn"><img
                                    src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                            <ul class="action_submenu">
                                <li><a href="javascript:;" class="remove_action contact_id"
                                        data-bs-toggle="modal" data-bs-target="#add_campaigns"
                                        contact-id="{{i.id}}"><img
                                            src="{% static 'images/icons/colored_icon/campaing.svg'%}"
                                            alt="image">Add to Campaign</a></li>
                                <li><a href="javascript:;" class="remove_action contact_id contact_add"
                                        data-bs-toggle="modal" data-bs-target="#add_list"
                                        contact-id="{{i.id}}"><img
                                            src="{% static 'images/icons/colored_icon/bar.svg'%}"
                                            alt="image">Add to List</a></li>
                                <li><a href="javascript:;" class="remove_action contact_id" data-bs-toggle="modal"
                                        data-bs-target="#message_popup"  contact-id="{{i.id}}" id="send_message"><img
                                            src="{% static 'images/icons/message.svg'%}" alt="image">Send
                                        Message</a></li>
                                <li><a href="javascript:;" class="remove_action contact_id"
                                        data-bs-toggle="modal" data-bs-target="#edit_popup"
                                        contact-id="{{i.id}}" id="edit_contact"><img
                                            src="{% static 'images/icons/edit.svg'%}" alt="image">Edit</a>
                                </li>
                                <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal"
                                        data-bs-target="#delete_confirm_popup-{{i.id}}"><img
                                            src="{% static 'images/icons/delete.svg'%}"
                                            alt="image">delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{i.id}}" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal_title">
                            <h4>Delete Contact</h4>
                        </div>
                        <a href="javascript:;" class="popup_close" data-bs-dismiss="modal"
                            aria-label="Close"><img src="{% static 'images/icons/close.svg'%}"
                                alt="close"></a>
                    </div>
                    <div class="modal-body">
                        <div class="delete_modal_body">
                            <img src="{% static 'images/delete_popup.svg'%}" alt="">
                            <h1>Delete Contact</h1>
                            <p>Are you sure you want to delete {{i.phone_no}}?</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul class="modal_btns">
                            <li><a href="javascript:;" class="modal_btn cancel"
                                    data-bs-dismiss="modal">no</a></li>
                            <li><a href="{% url 'contact-delete' i.id %}" id="contact_delete_id"
                                    class="modal_btn">Yes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>