
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_account_settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency_settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/broadcast.css' %}">
    <link rel="stylesheet" href="{% static 'css/campaigns.css' %}">
    <link rel="stylesheet" href="{% static 'css/campaign_creation.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_select_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/campaigns_setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_schedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/coupon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/reedem.css' %}">
    <link rel="stylesheet" href="{% static 'css/twilio.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency_settings.css' %}">
    {% block head %}
    {% endblock head %}
</head>
<body>
<div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post" id="edit_contact">
                {% csrf_token %}
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Edit Contact</h4>
                </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'images/icons/close.svg'%}" alt="close"></a>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_phone">
                            <label  class="rw_form_label">Phone Number</label>
                            <div class="rw_input">
                               {{forms.phone_no}}
                                <span class="input_icon phone" style="top: 70%;"></span>
                            </div>
                            <div class="form_error" id="error_phone"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs">
                            <label  class="rw_form_label">First Name</label>
                            <div class="rw_input">
                               {{forms.first_name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs">
                            <label  class="rw_form_label">Last Name</label>
                            <div class="rw_input">
                                {{forms.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_date_input">
                            <label  class="rw_form_label">Birthday</label>
                            <div class="rw_input">
                                {{forms.birthday}}
                                <span class="input_icon calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_date_input">
                            <label  class="rw_form_label">Anniversary</label>
                            <div class="rw_input">
                                {{forms.anniversary}}
                                <span class="input_icon calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="rw_form_inputs rw_select2_inputs">
                            <label class="rw_form_label">Tags</label>
                            <div class="rw_select2">
                                <span class="input_icon caret"></span>
                               {{forms.tags}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_select2_inputs">
                            <label  class="rw_form_label">Override Time Zone</label>
                            <div class="rw_custom_dropdown">

                                {{forms.time_zone}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_select2_inputs active_camp">
                            <label class="rw_form_label">Active Campaigns</label>
                            <div class="rw_select2">
                                <span class="input_icon caret"></span>
                                <select id="active_campaigns" class="js-states form-control" multiple>
                                    <option selected="selected">Discount Offer</option>
                                    <option >wedding</option>
                                    <option>Anniversary</option>
                                    <option>Anniversary</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_error"  id="error"></div>
                </div>
            </div>

            <div class="modal-footer">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                <li><input type="button" id="add_contact_btn" value="save" class="modal_btn"
                        style="border:none;"></li>
            </ul>
            </div>
            </form>
        </div>
        </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

<script>
   $(document).ready(function() {
   $("#id_tags").select2({
    dropdownParent: $("#add_contact_tolist"),
    placeholder: "Add tags",
    allowClear: false,
    minimumResultsForSearch: -1,
  });

});
$(".rw_popup_cstm_dropdown").select2({
  dropdownParent: $(".rw_select2_modal"),
  minimumResultsForSearch: -1,
});
</script>
</body>
</html>