{% load static %}
{% load tz %}
{% load tag_filter %}
<div class="rw_dashboard_box_wrapper">
    <!-- <div class="admin_header">
        <div class="dashboard_title">
            <h1>Dashboard</h1>
        </div>
        <input type="hidden" id="client_id" value="{{client.id}}">
        <div class="rw_selectbox admin_select">
            <select id="filter_details" name="details">
                <option value="All">All</option>
                <option value="Today">Today</option>
                <option value="Last 7 Days">Last 7 Days</option>
                <option value="This Month">This Month</option>
            </select>
        </div>
    </div> -->
    <div class="rw_dashboard_inner">
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{count_contact}}</h1>
                <p>Contacts</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/contact.svg' %}" alt="image">
            </div>
        </div>
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{total_sales.amount__sum|million}}</h1>
                <p>Total Sales</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/dollor.svg'%}" alt="image">
            </div>
        </div>
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{coupon_claimed}}</h1>
                <p>Coupons Claimed</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/coupon.svg'%}" alt="image">
            </div>
        </div>
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{message_sent}}</h1>
                <p>Messages Sent</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/message_white.svg'%}" alt="image">
            </div>
        </div>
    </div>
</div>
<div class="rw_table_wrapper">
    <div class="rw_table_header">
        <div class="table_title">
            <h3>Newly Added Contacts</h3>
        </div>
    </div>
    <div class="rw_table_inner rw_client_dashboard_table">
        <table id="admin_dashboard_table" class="table rw_pagination">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Sales</th>
                </tr>
            </thead>
            <tbody>
                {% for i in client_contact %}
                <tr>
                    <td>{{i.phone_no}}</td>
                    <td>{% if i.first_name or i.last_name %}{{i.first_name|title}} {{i.last_name|title}}{% else%}N/A{%endif%}</td>
                    {% if request.user.time_zone %}
                    {% timezone request.user.time_zone.value %}
                    <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M,Y h:i A"}}</td>
                    {% endtimezone %}
                    {% else %}
                    <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M,Y h:i A"}}</td>
                    {% endif %}
                    <td>${%if i.sales %}{{i.sales|million}}{%else%}0{%endif%}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>