{% extends 'agency_base.html' %}
{% load static %}
{% load tz %}
{% block head %}
<style>

</style>
{% endblock %}


{% block page_content %}
<div class="rw_inner_area rw_modal_backdrop">

    {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" >
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>There was a problem saving your changes</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
    <div class="rw_dashboard_box_wrapper">
        <div class="admin_header agency_header">
            <div class="dashboard_title">
                <h1>List of Clients</h1>
            </div>
            <!-- <div class="search_icon_wrapper">
                       <div class="ag_search_box">
                        <a href="javascript:;" class="ag_search_icon">
                            <img src="../assets/images/icons/search.svg" alt="image">                        
                         </a>
                         <div class="search_icon_input">
                            <input type="search" placeholder="Search"  >
                        </div>
                       </div>
                        <div class="rw_dashboard_btn">
                            <a href="javascript:;" class="rw_btn">+Add client</a>
                        </div>
                   </div> -->
        </div>
    </div>
    <div class="admin_user_select">
        <div class="search_icon_wrapper">
            <div class="rw_dashboard_btn">
                <a href="javascript:;" class="rw_btn" data-bs-toggle="modal" data-bs-target="#client_adnew_agency">+Add
                    client</a>
            </div>
        </div>
    </div>
    <div class="rw_table_wrapper">
        <div class="rw_table_inner rw_admin_user_table  rw_client_list_table">
            <table id="agency_dashboard_table" class="table rw_pagination">
                <thead>
                    <tr>
                        <th>Client Name </th>
                        <th>Date</th>
                        <th class="text-center sorting_none">status</th>
                        <th class="sorting_none">Switch Account</th>
                        <th class="sorting_none">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for k in client %}
                    <tr>
                        <td>{{k.business_name|title}}</td>
                        {% if request.user.time_zone %}
                        {% timezone request.user.time_zone.value %}
                            <td data-order="{{k.created_at|date:'Y-m-d H:i'}}">Added on {{k.created_at|date:"j M, Y h:i A"}}</td>
                        {% endtimezone %}
                        {% else %}
                          <td data-order="{{k.created_at|date:'Y-m-d H:i'}}">Added on {{k.created_at|date:"j M, Y h:i A"}}</td>
                        {% endif %}

                        <td class="text-center">
                            <div class="rw_toggle_switch">

                                    <form>
                                        {% csrf_token %}
                                        <div class="rw_switch" id="div_status-{{k.id}}" >

                                        {% if k.is_active is True %}
                                        <input type="checkbox" checked id="status"
                                            onclick='activeuser("False","{{k.id}}")' id>
                                        {% else %}
                                        <input type="checkbox" id="status" onclick='activeuser("True","{{k.id}}")'>
                                        {% endif %}
                                        </div>
                                    </form>

                            </div>
                        </td>
                        <td><a href="{% url 'client-dashboard' k.id %}" class="ag_switch_ac">Switch Account <span>
                                    <div class="order_arrow"></div>
                                </span></a></td>
                        <td class="text-center">
                            <div class="action_dropdown">
                                <ul class="drop_ul">
                                    <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'images/icons/action.svg'%}" alt="action"></a>
                                        <ul class="action_submenu">
                                            <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#delete_confirm_popup-{{k.id}}"><img src="{% static 'images/icons/delete.svg'%}" alt="image">delete</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <!-- Delete Popup -->
                    <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{k.id}}" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal_title">
                                        <h4>Delete Client</h4>
                                    </div>
                                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal"
                                        aria-label="Close"><img src="{% static 'images/icons/close.svg'%}"
                                            alt="close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="delete_modal_body">
                                        <img src="{% static 'images/delete_popup.svg'%}" alt="">
                                        <h1>Delete Client</h1>
                                        <p>Are you sure you want to delete {{k.business_name|title}}?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <ul class="modal_btns">
                                        <li><a href="javascript:;" class="modal_btn cancel"
                                                data-bs-dismiss="modal">no</a></li>
                                        <li><a href="{% url 'client-delete' k.id %}" id="client_delete_id"
                                                class="modal_btn">Yes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Delete Popup -->

{% endblock %}

{% block script%}
<script>

    $(document).ready( function () {
        $('#b_char').text($('#b_name').text().charAt(0))
    });
     $('.ag_switch_ac').on('click',function(event) {
        console.log('loader')
        $('#loader').removeClass('rw_loader_none')
     });
function activeuser(value, user) {
        link = "{% url 'client-active' %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                active: value,
                user_id: user,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                console.log(response)
               if (response['status']==true){
                    $('#div_status-'+response['id']).empty()
                    $('#div_status-'+response['id']).append("<input type='checkbox' id='status' onclick="+"activeuser('True',"+response['id']+")>")
            }else{
                $('#div_status-'+response['id']).empty()
                $('#div_status-'+response['id']).append("<input type='checkbox' checked id='status' onclick="+"activeuser('False',"+response['id']+")>")
            }
            }
        });
    }




</script>

{% endblock %}