{% extends 'agency_base.html' %}
{% load static %}
{% block title %}
    <title>Agency whitelabeldomain</title>
{% endblock %}

{% block page_content %}
<div class="rw_inner_area rw_inner_form_area ">
    <div class="rw_tabs">
        <ul class="nav rw_tab_ul" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="{% url 'agency-setting' %}" class="tab_link" id="account_settings_tab"  role="tab">account settings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'agency-change-password' %}" class="tab_link" id="change_password_tab" aria-selected="false">Change Password</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'agency-twillio' %}" class="tab_link" id="account_twili_tab"  aria-selected="false">twilio</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="javascript:;" class="tab_link active" id="agency_whitelabel_tab" data-bs-toggle="tab" data-bs-target="#agency_whitelabel_setting"  aria-selected="false">Whitelabel</a>
            </li>
        </ul>

        <!-- Tab panes -->
       {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" >
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>There was a problem saving your changes</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}
       <div class="tab-content">
            <div class="tab-pane active" id="agency_whitelabel_setting" role="tabpanel">
                <div class="rw_inner_form_inner_area ">
                    <form action="" method="post" id="agency_whitelabel_form">

                    {% csrf_token %}
                    <div class="rw_inn_form_box">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="rw_form_inputs">
                                    <label class="rw_form_label">Whitelabel Domain</label>
                                    <div class="rw_input">
                                        <input type="hidden" id="whitelabeldomain_hidden" name="whitelabeldomain_hidden" value="{{agency_whitelabel_form.whitelabeldomian.value}}">
                                        {{agency_whitelabel_form.whitelabeldomian}}
                                        {% if not agency.host.is_verified %}
                                            <span class="input_icon link"></span>
                                        {% elif agency.whitelabeldomian %}
                                            <span class="input_icon verified"></span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if not agency.host.is_verified and agency.whitelabeldomian %}
                                    <a style="color: #f88821; font-size: 14px;" href="" id="check_status">Click to check status</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="rw_form_inputs" id="div_support_email">
                                    <label class="rw_form_label">Support Email Address</label>
                                    <div class="rw_input">
                                        {{agency_whitelabel_form.support_email}}
                                        <span class="input_icon email"></span>
                                    </div>
                                    <div class="form_error"  id="support_email_error"></div>
                                </div>
                            </div>
                            <div class="form_error" style="padding-left: 15px;">{{ agency_whitelabel_form.non_field_errors }}</div>
                        </div>
                    </div>
                    <div class="rw_save_btn">
                        <input type="button" class="rw_btn" value="save changes" id="submit_btn" style="border:none;">
                    {% comment %}
                        {% if not agency.host.is_verified and agency.whitelabeldomian %}
                            <input type="button" class="rw_btn" value="Check Status" id="check_status" style="border:none;">
                        {% endif %}
                    {% endcomment %}
                    </div>

                
                    </form>
            
                </div>
            </div>

    </div>
</div>
                    
 <!-- Update Whitelabel Domain Popup -->
 <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup" tabindex="-1"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
         <div class="modal-header">
             <div class="modal_title">
                 <h4 id="update_popup_header">Update Whitelabel Domain</h4>
             </div>
             <a href="javascript:;" class="popup_close" data-bs-dismiss="modal"
                 aria-label="Close"><img src="{% static 'images/icons/close.svg'%}"
                     alt="close"></a>
         </div>
         <div class="modal-body">
             <div class="delete_modal_body">
                 <img src="{% static 'images/delete_popup.svg'%}" alt="">
                 <h1 id="update_popup_title">Update Whitelabel Domain</h1>
                 <p>By doing this your previous domain <b><span id="previous_domain"></span></b> will be deleted from the system<span id="default_url_message"></span>. <br> Are you sure want to <span id="id_update_delete_message">update</span> ?</p>
             </div>
         </div>
         <div class="modal-footer">
             <ul class="modal_btns">
                 <li><a href="javascript:;" class="modal_btn cancel"
                         data-bs-dismiss="modal">no</a></li>
                 <li><a href="#" id="change_whitelabeldomain"
                         class="modal_btn">Yes</a></li>
             </ul>
         </div>
     </div>
 </div>
</div>

{% endblock %}


{% block script %}
<script>
    const validateEmail = (email) => {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
        };

    $('#check_status').on('click',function (event){
        link = "{% url 'agency_whitelabel_detail' %}";
        $.ajax({
            type: 'get',
            url: link,
            data:{},
            success: function (response) {
                $('#loader').addClass('rw_loader_none')
                location.reload()
            }
        });
    });

    $('#submit_btn').on('click', function (event) {
        var valid=true;
        var whitelabeldomain_hidden_val=$("input[name='whitelabeldomain_hidden']").val()=='None' ? '' : $("input[name='whitelabeldomain_hidden']").val();
        var whitelabeldomain_val=$("input[name='whitelabeldomian']").val();
        $('#previous_domain').text(whitelabeldomain_hidden_val);
        // adding / changing whitelabeldomain 
        if ($('.errorlist').length>0) {
            whitelabeldomain_hidden_val=''
        }

            if (whitelabeldomain_hidden_val!==whitelabeldomain_val) {
                valid=false
                if (!whitelabeldomain_hidden_val) {
                    valid=true
                }
                if (!whitelabeldomain_hidden_val.match(/^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$/)) {
                    valid=true
                }
            }
            if (!whitelabeldomain_hidden_val && !whitelabeldomain_val) {
                 valid=true
            } else if (whitelabeldomain_hidden_val == whitelabeldomain_val) {
                valid=true
            }
   
        
        // adding / changing support email
        if ($('#id_support_email').val()) {
            if (!validateEmail($("#id_support_email").val())){
                $('#support_email_error').text('Please enter proper Email')
                 $('#div_support_email').addClass('error')
                valid = false;
                }
        } 
        if (valid==true){
            $('#loader').removeClass('rw_loader_none')
            if (!whitelabeldomain_val) {
                $('#check_status').css('display','none')
            }
            $("#agency_whitelabel_form").submit()
        }else{
            if (!whitelabeldomain_val) {
                $('#default_url_message').text('')
                $('#default_url_message').text(', and it will redirect to our default URL')
                $('#update_popup_header').text('')
                $('#update_popup_header').text('Delete Whitelabel Domain')
                $('#update_popup_title').text('')
                $('#update_popup_title').text('Delete Whitelabel Domain')
                $('#id_update_delete_message').text('')
                $('#id_update_delete_message').text('delete')
                $("#delete_confirm_popup").modal("show");
            }else{
                $('#default_url_message').text('')
                $('#update_popup_header').text('')
                $('#update_popup_header').text('Update Whitelabel Domain')
                $('#update_popup_title').text('')
                $('#update_popup_title').text('Update Whitelabel Domain')
                $('#id_update_delete_message').text('')
                $('#id_update_delete_message').text('update')
                $("#delete_confirm_popup").modal("show");
            }
        }
    });
$("#id_whitelabeldomian").keyup(function(){
    $('.verified').css('display','none');
  });
$(document).on('click',"#change_whitelabeldomain",function (params) {
    var whitelabeldomain_val=$("input[name='whitelabeldomian']").val();
    $('#loader').removeClass('rw_loader_none')
    if (!whitelabeldomain_val) {
        $('#check_status').css('display','none')
    }
    $("#agency_whitelabel_form").submit()
})
    $('#id_support_email').on('keyup change', function (event) {
        if ($("#id_support_email").val().length > 0) {
            $("#support_email_error").text('')
            $('#div_support_email').removeClass('error')
        }
    })
    // to catch django error msg
    window.onload=function (params) {
        var reloading = sessionStorage.getItem("reloading");
        if (!reloading) {
            sessionStorage.removeItem("reloading");
            var form_err=$('.errorlist')
            if (form_err.length>0) {
                $('.verified').css('display','none');
                $('#check_status').css('display','none');
            }
        }
}
</script>
{% endblock %}