{% extends 'agency_base.html' %}
{% load static %}
{% block title %}
    <title>Agency Twillio</title>
{% endblock %}

{% block page_content%}
 <div class="rw_inner_area rw_inner_form_area ">
    <div class="rw_tabs">
        <ul class="nav rw_tab_ul" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="{% url 'agency-setting' %}" class="tab_link" id="account_settings_tab" >account settings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'agency-change-password' %}" class="tab_link" id="change_password_tab" aria-selected="false">Change Password</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="javascript:;" class="tab_link active" id="account_twili_tab" data-bs-toggle="tab"
                    data-bs-target="#account_twilio" role="tab" >twilio</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'agency-whitelabel-setting' %}" class="tab_link" id="agency_whitelabel_tab"  aria-selected="false">Whitelabel</a>
            </li>
        </ul>

        <!-- Tab panes -->

            {% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active" >
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>{{message}}</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}

            <div class="tab-pane" id="account_twilio" role="tabpanel">
                <div class="rw_inner_form_inner_area">
                    <div class="twilio_master_account">
                        <div class="mast_ac_title">
                            <h1>Master Account</h1>
                        </div>
                        <div class="rw_inn_form_box">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-5">
                                    <div class="rw_form_inputs" id="div_acc_sid">
                                        <label class="rw_form_label">Account SID</label>
                                        <div class="rw_input">
                                            <input type="text" placeholder="Account SID" id="acc_sid"
                                                value="{% if agency.account_sid %}{{agency.account_sid}}{% endif %}">
                                            <span class="input_icon copy"></span>
                                        </div>
                                        <div class="form_error" id="acc_sid_error"></div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-7 col-md-7">
                                    <div class="rw_form_inputs" id="div_auth_token">
                                        <label class="rw_form_label">Auth Token</label>
                                        <div class="rw_input">
                                            <input type="password" id="auth_token" class="eye_pass" placeholder="Auth Token"
                                                value="{% if agency.account_sid %}{{agency.auth_token}}{% endif %}">
                                            <span class="input_icon rw_eye"></span>
                                        </div>
                                        <div class="form_error" id="auth_token_error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rw_table_wrapper">
                        <div class="mast_ac_title">
                            <h1>Client Accounts</h1>
                        </div>
                        <div class="rw_table_inner rw_admin_user_table rw_twilio_table table-responsive">
                            <table id="agency_twillio_table" class="table rw_pagination">
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th class="sorting_none">Account SID</th>
                                        <th class="sorting_none">Auth Token</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in client %}
                                    <tr>
                                        <td>{{i.business_name}}</td>
                                        <td>
                                            <div class="ac_sid_td">
                                                <span class="twillio_span" id="ac-sid-{{i.id}}">{{i.account_sid}}</span>
                                                {% if i.account_sid %}
                                                <a href="javascript:;" copy-id="{{i.id}}" class="copy_span"><span
                                                        class="td_icon copy copied-success"></span></a>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ac_auth_token_td">
                                                <div class="rw_form_inputs">
                                                    <div class="rw_input">
                                                        <input type="password" placeholder="Auth Token"
                                                            value="{% if i.auth_token %}{{i.auth_token}}{% endif %}">
                                                        <span class="input_icon rw_eye"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="rw_save_btn">
                       <input type="button" id="twl_btn" class="rw_btn" value="save changes" style="border:none;">
                    </div>
                </div>
            </div>

    </div>
 </div>
{% endblock %}
{% block script %}
<script>
    $('#twl_btn').click(function () {
         console.log('assdasdasd')
         if ($("#acc_sid").val().trim().length <= 0) {
            $('#acc_sid_error').text('Please enter Account SID')
            $('#div_acc_sid').addClass('error')
        }
        if ($("#auth_token").val().trim().length <= 0) {
            $('#auth_token_error').text('Please enter Auth Token')
            $('#div_auth_token').addClass('error')

        }
        if ($("#acc_sid").val().trim().length > 0 && $("#auth_token").val().length > 0) {
        $('#loader').removeClass('rw_loader_none')
            link = "{% url 'agency-twillio' %}";
            $.ajax({
                type: 'POST',
                url: link,
                data: {
                    acc_sid: $("#acc_sid").val(),
                    auth_token:$("#auth_token").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    $('#loader').addClass('rw_loader_none')
                    location.reload()
                }
            });
        }

    });
    $('#acc_sid').on('keyup change', function (event) {
        if ($("#acc_sid").val().length > 0) {
            $("#acc_sid_error").text('')
            $('#div_acc_sid').removeClass('error')
        }
    });
    $('#auth_token').on('keyup change', function (event) {
        if ($("#auth_token").val().length > 0) {
            $("#auth_token_error").text('')
            $('#div_auth_token').removeClass('error')
        }
    });
    $(document).on("click", ".copy_span", function () {
        console.log('asdasd');
        var copy_id = $(this).attr('copy-id');
        console.log(copy_id)
        var textArea = document.createElement("textarea");
        textArea.value =  $('#ac-sid-' + copy_id).text()
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    });
</script>
{% endblock %}