<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Forget Password</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


</head>

<body>
    <form method="post" action="{% url 'agency-forget-password' %}" id="forgot">
        {% csrf_token %}
        <div class="rw_login_wrapper  ">
            <div class="rw_login_inner forget_page ">
                <h1>Forgot Password</h1>


                <div class="rw_form_inputs" id="email_div">
                    <div class="rw_input">
                        <input type="email" placeholder="Enter e-mail" name="email" id="email">
                        <span class="input_icon email"></span>

                    </div>
                </div>



                {% if messages %}
                <div class="col-lg-12 col-md-12">
                    <ul class="messages">
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <h6 class="form_error" style="margin-top: 8px;" id="error">{{ message }}</h6>
                        {% else %}
                        <h6 class="form_success"  style=" margin-top: 8px;" id="error">{{ message }}</h6>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <h6 class="form_error" style="margin-top: 8px;" id="error"></h6>
                <div class="login_btns">
                    <input type="button" id="admin_login" value="Reset Password" class="login_btn" style="border:none;">
                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        const validateEmail = (email) => {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };

        $('#email').on('keyup keypress change', function (event) {
            if ($("#email").val().length > 0) {

                $("#email_div").removeClass('error')
                if (validateEmail($("#email").val())) {
                    $('#error').text('')
                    $('#email_div').removeClass('error')
                }
                else {
                    $('#email_div').addClass('error')
                    $('#error').text('Please enter proper E-mail')
                }
            }
            else {
                    $('#error').text('Please enter Email')

                }
            if (event.keyCode === 13) {
                $("#admin_login").click();
            }
        });
            $('#admin_login').on('click',function(event) {

               if ($("#email").val().length <= 0 ){
                    $("#error").text('Please enter E-mail')
                     $("#email_div").addClass('error')
               }
                else if (!validateEmail($("#email").val())){
                    $('#error').text('Please enter valid E-mail')
                    $("#email_div").addClass('error')

                }else{
                         $("#forgot").submit()
                      }


            });
    </script>
</body>

</html>