<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Set Password</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href= "{% static 'css/login.css' %}">
    <link rel="stylesheet" href= "{% static 'css/icons.css' %}">
    <link rel="stylesheet" href= "{% static 'css/custom.css' %}">


</head>
<body>
    <form method="post" action="{% url 'reset_password' uuid %}" id="set_password">
        {% csrf_token %}
    <div class="rw_login_wrapper">
        <div class="rw_login_inner">
            <h1>Set Password</h1>


             <div class="rw_form_inputs" id="password_div">
                <div class="rw_input">
                    <input type="password" placeholder="Enter password" name="password" id="password" >
                    <span class="input_icon rw_eye"></span>

                </div>
                 <div class="form_error" id="password_error"></div>
            </div>
            <div class="rw_form_inputs" id="confirm_div">
                <div class="rw_input">
                    <input type="password" placeholder="Enter confirm password" name="confirm_password" id="confirm_password" >
                    <span class="input_icon rw_eye"></span>
                </div>
                <div class="form_error" id="confirm_error"></div>
            </div>
            
             {% if messages %}
            <div class="col-lg-12 col-md-12" >
              <ul class="messages">
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                <h6 class="form_error" id="error" style=" padding-top: 8px;">{{ message }}</h6>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <h6 class="form_error" id="error" style=" padding-top: 8px;"></h6>
            <div class="login_btns">
                <input type="button" id="admin_login" value="reset password" class="login_btn" style="border:none;" >
            </div>
        </div>
    </div>
    </form>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
       
       $('#password').on('keydown change', function(event){
            if ($("#password").val().trim().length <= 0){
                $("#password_div").addClass('error')

                $('#error').text('Please enter Password')

                }
            if($("#password").val().length > 0){
                 
                if($("#password").val().match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/)){
                    $("#password_div").removeClass('error')
                     $('#error').text('')
                }
                else{
                    $("#password_div").addClass('error')

                    $('#error').text('Password should be of atleast 6 char with 1 capital,1 small, 1 special char in it')
                }
            }
           
       });
        $('#confirm_password').on('keyup keypress change', function(event){
            if ($("#confirm_password").val().trim().length <= 0){
                $("#confirm_div").addClass('error')

                $('#error').text('Please enter Confirm Password')

                }
            if($("#confirm_password").val().length > 0){
              if ($("#password").val().trim().length <= 0){
                console.log('asdasdasdasd')
                $("#password_div").addClass('error')

                $('#error').text('Please enter Password')
              }else if ($("#confirm_password").val()==$("#password").val()){
                    $("#confirm_div").removeClass('error')
                     $('#error').text('')
                    $('#admin_login').removeAttr("disabled")
                }
                else{
                      $("#confirm_div").addClass('error')

                      $('#error').text('Password and Confirm Password does not match')

                }
            }
            if (event.keyCode === 13) {
                $("#admin_login").click();
            }
           
       });
       $('#admin_login').on('click', function(event){
            if ($("#confirm_password").val().trim().length <= 0 && $("#password").val().trim().length <= 0){
                $("#confirm_div").addClass('error')
                $("#password_div").addClass('error')
                $("#error").text('Please enter Password and Confirm Password')
            }else if ($("#confirm_password").val().trim().length <= 0 ){
                $("#confirm_div").addClass('error')

                $("#error").text('Please enter Confirm Password')
            }else if ($("#password").val().trim().length <= 0){

                $("#password_div").addClass('error')
                $("#error").text('Please enter Password')
            }else if (!$("#confirm_password").val()==$("#password").val()){
                   $("#confirm_div").addClass('error')

                      $('#error').text('Password and Confirm Password does not match')
                }else if(!$("#password").val().match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/)){
                   $("#password_div").addClass('error')
                    $('#error').text('Password should be of atleast 6 char with 1 capital,1 small, 1 special char in it')

                }else{
                    $("#set_password").submit();
                }
       });
       
    </script>
</body>
</html>