{% load static %}
{% load admin_extras %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <a href="{% url 'customadmin:index' %}">
                    <img class="nav-image" src="{% static 'core/img/logo.svg' %}" width="100%" />
                </a>
                <div class="logo-element">
                    UC
                </div>
            </li>

<!--            {% if perms.core.add_user or perms.core.view_user or perms.core.change_user or perms.core.delete_user or request.user.is_superuser %}-->
<!--                <li {% if 'users/' in request.path %}class="active" {% endif %}>-->
<!--                    <a href="">-->
<!--                        <i class="fa fa-user fa-fw fa-2x"></i>-->
<!--                        <span class="nav-label">Users</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            {% endif %}-->

            {% if perms.agencyuser.add_agencyuser or perms.agencyuser.view_agencyuser or perms.agencyuser.change_agencyuser or perms.agencyuser.delete_agencyuser or request.user.is_superuser %}
                <li {% if 'agency-list/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:agency-list'%}">
                        <i class="fa fa-list-alt fa-fw fa-2x"></i>
                        <span class="nav-label">Agencies</span>
                    </a>
                </li>
            {% endif %}

            {% if perms.client.add_client or perms.client.view_client or perms.client.change_client or perms.client.delete_client or request.user.is_superuser %}
                <li {% if 'client-list/' in request.path %} class="active" {% endif %}>
                    <a href="{% url 'customadmin:client-list'%}">
                        <i class="fa fa-bicycle fa-fw fa-2x"></i>
                        <span class="nav-label">Clients</span>
                    </a>
                </li>
            {% endif %}

            <!-- {% if perms.core.add_review or perms.core.view_review or perms.core.change_review or perms.core.delete_review or request.user.is_superuser %}
                <li {% if 'review/' in request.path %} class="active" {% endif %}>
                    <a href="">
                        <i class="fa fa-comments fa-fw fa-2x"></i>
                        <span class="nav-label">Reviews</span>
                    </a>
                </li>
            {% endif %}

            {% if perms.core.add_pages or perms.core.view_pages or perms.core.change_pages or perms.core.delete_pages or request.user.is_superuser %}
            <li {% if 'pages/' in request.path %} class="active" {% endif %}>
                <a href="">
                    <i class="fa fa-file fa-fw fa-2x"></i>
                    <span class="nav-label">Pages</span>
                </a>
            </li>
            {% endif %}

            {% if perms.core.add_menus or perms.core.view_menus or perms.core.change_menus or perms.core.delete_menus or request.user.is_superuser %}
            <li {% if 'menus/' in request.path %} class="active" {% endif %}>
                <a href="">
                    <i class="fa fa-bars fa-fw fa-2x"></i>
                    <span class="nav-label">Menus</span>
                </a>
            </li>
            {% endif %}

            {% comment %}
            {% if perms.core.add_trusted_accessories or perms.core.view_trusted_accessories or perms.core.change_trusted_accessories or perms.core.delete_trusted_accessories or request.user.is_superuser %} #}
            <li {% if 'trusted-accessories/' in request.path %} class="active" {% endif %}>
                <a href="">
                    <i class="fa fa-ad fa-fw fa-2x"></i>
                    <span class="nav-label">Trusted</span>
                </a>
            </li>
            {% endif %}
            {% endcomment %}

            {% if perms.core.add_comments or perms.core.view_comments or perms.core.change_comments or perms.core.delete_comments or request.user.is_superuser %}
            <li {% if 'comments/' in request.path %} class="active" {% endif %}>
                <a href="">
                    <i class="fa fa-comment fa-fw fa-2x"></i>
                    <span class="nav-label">Comments</span>
                </a>
            </li>
            {% endif %} -->

        </ul>
    </div>
</nav>