{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block title %}
    <title>Admin Users</title>
    {% endblock %}

{% block page_content %}
<style>
 .form-control:focus {
      border: 1px solid #f88821 !important;
    }
 .rw_custom_dropdown:focus{
    border: 1px solid #f88821 !important;
}
</style>
<div class="admin_user_page">
<div class="rw_inner_area">
{% if messages %}
    {% for message in messages %}
         {% if message.tags == 'error' %}
             <div class="rw_suc_err_wrapper rw_error_toast active">
                <div class="rw_suc_err_block ">
                    <img src="{% static 'images/icons/error.svg'%}" alt="error">
                    <p>{{message}}</p>
                    <a href="javascript:;" class="close error_close"><img src="{% static 'images/icons/close_white.svg'%}" alt="close"></a>
                </div>
            </div>
        {% else %}
        <div class="rw_suc_err_wrapper rw_success_toast active" >
            <div class="rw_suc_err_block ">
                <img src="{% static 'images/icons/check_white.svg' %}" alt="Done">
                <p>{{message}}</p>
                <a href="javascript:;" class="close success_close"><img src="{% static 'images/icons/close_white.svg' %}" alt="close"></a>
            </div>
        </div>
        {% endif %}
{% endfor %}
{% endif %}

    <div class="rw_dashboard_box_wrapper">
        <div class="admin_header agency_header">
            <div class="dashboard_title">
                <h1>Users</h1>
            </div>
        </div>
    </div>
    <div class="admin_user_select">
        <div class="rw_selectbox">
            <select id="status_active">
                <option value="" selected>Status</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
                <option value="">All</option>
            </select>
        </div>
        <div class="search_icon_wrapper">
            <div class="rw_dashboard_btn">
                <a href="javascript:;" class="rw_btn" data-bs-toggle="modal" data-bs-target="#admin_adnew_agency">+Add
                    New agency</a>
            </div>
        </div>
    </div>
    <div class="rw_table_wrapper">
        <div class="rw_table_inner rw_admin_user_table" id="agency_user">
            <table id="admin_user_table" class="table rw_pagination">
                <thead>
                    <tr>
                        <th>Agency Name</th>
                        <th>Contact Name</th>
                        <th>Date</th>
                        <th class="text-center">Clients</th>
                        <th class="text-center sorting_none">status</th>
                        <th class="sorting_none text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                    {% for i in agency %}
                    <tr>
                        <td>{{i.business_name|title}}</td>
                        <td>{{i.first_name|title}} {{i.last_name|title}}</td>
                        <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
                        <td class="text-center">{{i.client_cam}}</td>
                        <td class="text-center">
                            <div class="rw_toggle_switch">

                                    <form>
                                        {% csrf_token %}
                                        <div class="rw_switch" id="div_status-{{i.id}}" >

                                        {% if i.is_active is True %}
                                        <input type="checkbox" checked id="status"
                                            onclick='activeuser("False","{{i.id}}")' id>
                                        {% else %}
                                        <input type="checkbox" id="status" onclick='activeuser("True","{{i.id}}")'>
                                        {% endif %}
                                        </div>
                                    </form>

                            </div>
                        </td>
                        <td class="text-center">
                            <input type="hidden" value="{{i.id}}" id="agency_id">
                            <div class="action_dropdown">
                                <ul class="drop_ul ">
                                    <li class="position-relative "><a href="javascript:;" class="action_btn"><img
                                                src="{% static 'images/icons/action.svg' %}" alt="action"></a>
                                        <ul class="action_submenu">
                                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#admin_edit_agency"
                                                    data-ta agency-id="{{i.id}}" id="edit_btn"><img
                                                        src="{% static 'images/icons/edit.svg' %}" alt="image">edit</a>
                                            </li>
                                            <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal"
                                                    data-bs-target="#delete_confirm_popup-{{i.id}}"><img
                                                        src="{% static 'images/icons/delete.svg' %}"
                                                        alt="image">delete</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <div class="modal fade rw_modal delete_popup" id="delete_confirm_popup-{{i.id}}" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal_title">
                                        <h4>Delete Agency</h4>
                                    </div>

                                    <a href="javascript:;" class="popup_close" data-bs-dismiss="modal"
                                        aria-label="Close"><img src="{% static 'images/icons/close.svg' %}"
                                            alt="close"></a>
                                </div>
                                <div class="modal-body">
                                    <div class="delete_modal_body">
                                        <img src="{% static 'images/delete_popup.svg' %}" alt="">
                                        <h1>Delete Agency </h1>
                                        <p>Are you sure you want to delete {{i.business_name|title}}?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <ul class="modal_btns">
                                        <li><a href="javascript:;" class="modal_btn cancel"
                                                data-bs-dismiss="modal">no</a></li>
                                        <li><a href="{% url 'agency-delete' i.id %}" id="delete_agency" class="modal_btn">Yes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="modal fade twilio_modal rw_modal" id="admin_adnew_agency" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal_title">
                    <h4>Add New Agency</h4>
                </div>
                <a href="javascript:;" class="popup_close" data-bs-dismiss="modal" aria-label="Close"><img
                        src="{% static 'images/icons/close.svg' %}" alt="close"></a>
            </div>
            {% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="rw_form_inputs" id="div_first">
                            <label class="rw_form_label">First Name</label>
                            <div class="rw_input">
                                {{form.first_name}}

                            </div>
                            <div class="form_error" id="first_error"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs" id="div_last">
                            <label class="rw_form_label">Last Name</label>
                            <div class="rw_input">
                                {{form.last_name}}

                            </div>
                            <div class="form_error" id="last_error"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_email">
                            <label class="rw_form_label">Email Address</label>
                            <div class="rw_input">
                                {{form.email}}
                                <span class="input_icon email"></span>

                            </div>
                            <div class="form_error" id="email_error"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_business">
                            <label class="rw_form_label">Business Name</label>
                            <div class="rw_input">
                                {{form.business_name}}
                                <span class="input_icon business"></span>

                            </div>
                            <div class="form_error" id="business_error"></div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="rw_form_inputs" id="div_password">
                            <label class="rw_form_label">password</label>
                            <div class="rw_input">
                                {{form.password}}
                                <span class="input_icon rw_eye"></span>
                            </div>
                            <div class="form_error" id="password_error"></div>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="rw_form_inputs" id="div_transaction">
                            <label class="rw_form_label">Transaction ID</label>
                            <div class="rw_input">
                                {{form.transaction_id}}

                            </div>
                            <span class="form_error" id="transaction_error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rw_form_inputs rw_select2_inputs" id="div_plan_duration">
                            <label class="rw_form_label">Plan Duration</label>
                            <div class="rw_custom_dropdown">

                                    {{form.plan_duration}}

                            </div>
                        </div>
                    </div>

                    <div class="form_error" style="margin-top: 8px;" id="error"></div>
                </div>
            </div>

            <div class="modal-footer" id="div_btn">
                <ul class="modal_btns">
                    <li><a href="javascript:;" class="modal_btn cancel" data-bs-dismiss="modal">cancel</a></li>
                    <li><input type="submit" id="add_btn" value="add" class="modal_btn" style="border:none;"> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade twilio_modal rw_modal" id="admin_edit_agency" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal_title">
                <h4>Edit Agency</h4>
            </div>
            <a href="javascript:;" class="popup_close" data-bs-dismiss="modal"
                aria-label="Close"><img src="{% static 'images/icons/close.svg' %}"
                    alt="close"></a>
        </div>
        {% csrf_token %}

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="rw_form_inputs" id="div_first1">
                        <label class="rw_form_label">First Name</label>
                        <div class="rw_input">
                            <input type="text" placeholder="First Name" maxlength="15" id="first_name">

                        </div>
                        <div class="form_error" id="first_error1"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rw_form_inputs" id="div_last1">
                        <label class="rw_form_label">Last Name</label>
                        <div class="rw_input">
                            <input type="text" maxlength="15" placeholder="Last Name" id="last_name">

                        </div>
                        <div class="form_error" id="last_error1"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="rw_form_inputs" id="div_email1">
                        <label class="rw_form_label">Email Address</label>
                        <div class="rw_input">
                            <input type="text" name="email" placeholder="Enter E-mail" id="email">
                            <span class="input_icon email"></span>

                        </div>
                         <div class="form_error" id="email_error1"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="rw_form_inputs" id="div_business1">
                        <label class="rw_form_label">Business Name</label>
                        <div class="rw_input">
                            <input type="text" placeholder="Business Name" id="business_name" maxlength="30">
                            <span class="input_icon business"></span>

                        </div>
                        <div class="form_error" id="business_error1"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="rw_form_inputs" id="div_transaction1">
                        <label class="rw_form_label">Transaction ID</label>
                        <div class="rw_input">
                            <input type="text" placeholder="Enter ID" id="transaction_id">

                        </div>
                        <div class="form_error"     id="transaction_error1"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rw_form_inputs rw_select2_inputs" id="div_e_plan_duration">
                        <label class="rw_form_label">Plan Duration</label>
                        <div class="rw_custom_dropdown">
                            <select name="plan_duration" class="rw_popup_cstm_dropdown" id="plan_duration">


                              <option value="0" >Plan Duration</option>
                                <option value="1" >1 Months</option>

                              <option value="2" >6 Months</option>

                              <option value="3" >12 Months</option>

                              <option value="4" >24 Months</option>

                              <option value="5">Lifetime</option>

                            </select>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="id_agency">
                <div class="col-md-12">

                    <div class="form_error" id="error1"></div>
                </div>
            </div>
        </div>

        <div class="modal-footer" id="div_btn1">
            <ul class="modal_btns">
                <li><a href="javascript:;" class="modal_btn cancel"
                        data-bs-dismiss="modal">cancel</a></li>
                <li><input type="submit" id="edit_agency_btn" value="save" class="modal_btn"
                        style="border:none;"> </li>
            </ul>
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block script%}

<script>
 $(document).ready(function() {
     console.log("sddasdas")
       $("#id_plan_duration").select2({
        dropdownParent: $("#div_plan_duration"),
        placeholder: "Plan Duration",
        allowClear: false,
        minimumResultsForSearch: -1,
      });
      $("#plan_duration").select2({
        dropdownParent: $("#div_e_plan_duration"),
        placeholder: "Plan Duration",
        allowClear: false,
        minimumResultsForSearch: -1,
      });
      $(".rw_custom_dropdown .select2-selection").on("click", function (e) {
        console.log('asddfasdasdasdasdasdas')
        e.stopPropagation();
        if ($(this).parents(".rw_custom_dropdown").hasClass("rw_inp_focus")) {
          $(this).parents(".rw_custom_dropdown").removeClass("rw_inp_focus");
        } else {
          $(".rw_custom_dropdown.active").removeClass("rw_inp_focus");
          $(this).parents(".rw_custom_dropdown").addClass("rw_inp_focus");
        }
        // For Stop Background
        $(".modal").addClass("overflow_hidden");
      });

      // For Stop Background
      $("#id_plan_duration").on('change', function(e){
        console.log(('change event'));
        e.stopPropagation();
        $(".modal").removeClass("overflow_hidden");
      })


      $(document).on("click", function (e) {
        if ($(e.target).is(".rw_custom_dropdown") === false) {
          $(".rw_custom_dropdown").removeClass("rw_inp_focus");
        }
        // For Stop Background
        $(".modal").removeClass("overflow_hidden");
      });
});
const validateEmail = (email) => {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
        };

    $('#add_btn').on('click', function (event) {
        if ($("#id_first_name").val().trim().length <= 0) {
            $('#first_error').text('Please enter First Name')
            $('#div_first').addClass('error')
        }
        if ($("#id_last_name").val().trim().length <= 0) {
            $('#last_error').text('Please enter Last Name')
            $('#div_last').addClass('error')
        }
        if ($("#id_business_name").val().trim().length <= 0) {
            $('#business_error').text('Please enter Business Name')
            $('#div_business').addClass('error')
        }
        if ($("#id_email").val().trim().length <= 0) {
            $('#email_error').text('Please enter Email')
            $('#div_email').addClass('error')
        }else{
            if (!validateEmail($("#id_email").val())){
               $('#email_error').text('Please enter proper Email')
                    $('#div_email').addClass('error')
            }
        }
        // if ($("#id_password").val().length <= 0) {
        //     $('#password_error').text('Please enter Password')
        //     $('#div_password').addClass('error')

        // }
        //  if($("#id_password").val().length > 0){

        //         if(!$("#id_password").val().match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/)){
        //             $("#div_password").addClass('error')

        //             $('#password_error').text('Password should be of at least 6 char with 1 capital,1 small, 1 special char in it.')
        //         }
        //   }
        if ($("#id_first_name").val().length > 0 && $("#id_last_name").val().length > 0 && $(
                "#id_business_name").val().length > 0 &&
            $("#id_email").val().length > 0 &&
            validateEmail($("#id_email").val()) ) {
            $('#loader').removeClass('rw_loader_none')
            link = "{% url 'admin-user' %}";
            $.ajax({
                type: 'POST',
                url: link,
                data: {
                    first_name: $("#id_first_name").val(),
                    last_name: $("#id_last_name").val(),
                    business_name: $("#id_business_name").val(),
                    email: $("#id_email").val(),
                    // password: $("#id_password").val(),
                    transaction_id: $("#id_transaction_id").val(),
                    plan_duration: $("#id_plan_duration").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                $('#loader').addClass('rw_loader_none')
                    if (response['status'] == 'unsuccess') {
                        $('#error').text(response['message'])
                    } else {
                        location.reload()
                    }

                }
            });
        }
    });
    $('#id_first_name').on('keyup change', function (event) {
        if ($("#id_first_name").val().length > 0) {
            $("#first_error").text('')
            $('#div_first').removeClass('error')
        }
    });
    $('#id_last_name').on('keyup change', function (event) {
        if ($("#id_last_name").val().length > 0) {
            $("#last_error").text('')
            $('#div_last').removeClass('error')
        }
    });
    $('#id_business_name').on('keyup change', function (event) {
        if ($("#id_business_name").val().length > 0) {
            $("#business_error").text('')
            $('#div_business').removeClass('error')
        }
    });
    $('#id_email').on('keyup change', function (event) {
        if ($("#id_email").val().length > 0) {
            $("#email_error").text('')
            $('#div_email').removeClass('error')
        }
        if (!validateEmail($("#id_email").val())){
// <!--           $('#email_error').text('Please enter proper Email')-->
// <!--                $('#div_email').addClass('error')-->
        }else{
            $('#email_error').text('')
            $('#div_email').removeClass('error')
        }
    });
    // $('#id_password').on('keyup change', function (event) {
    //     if ($("#id_password").val().length > 0) {
    //         $("#password_error").text('')
    //         $('#div_password').removeClass('error')
    //     }
    // });

    function activeuser(value, user) {
        link = "{% url 'agency-active' %}";
        $.ajax({
            type: 'POST',
            url: link,
            data: {
                active: value,
                user_id: user,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                console.log(response)
               if (response['status']==true){
                    $('#div_status-'+response['id']).empty()
                    $('#div_status-'+response['id']).append("<input type='checkbox' id='status' onclick="+"activeuser('True',"+response['id']+")>")
            }else{
                $('#div_status-'+response['id']).empty()
                $('#div_status-'+response['id']).append("<input type='checkbox' checked id='status' onclick="+"activeuser('False',"+response['id']+")>")
            }
            }
        });
    }
    $(document).on("click", "#edit_btn", function () {
        console.log('aaA')
        var agency_id = $(this).attr('agency-id');
        link = "{% url 'agency-edit' %}";
        $.ajax({
            type: 'GET',
            url: link,
            data: {
                agency_id: agency_id,
            },
            success: function (response) {
                console.log(response)
                if (response['status'] == true) {
                    console.log('sssssss')
                    console.log(response['agency']['first_name'])
                    $('#first_name').val(response['agency']['first_name']);
                    $('#last_name').val(response['agency']['last_name']);
                    $('#business_name').val(response['agency']['business_name']);
                    $('#transaction_id').val(response['agency']['transaction_id']);
                    $('#email').val(response['agency']['email']);
                    $('#id_agency').val(response['agency']['id']);
                    console.log(response['agency']['plan_duration']);
                    $('#plan_duration').val(response['agency']['plan_duration']).change();
                }
            }
        });
    });

    $(document).on("click", "#edit_agency_btn", function () {
        if ($("#first_name").val().length <= 0) {
            $('#first_error1').text('Please enter First Name')
            $('#div_first1').addClass('error')
        }
        if ($("#last_name").val().length <= 0) {
            $('#last_error1').text('Please enter Last Name')
            $('#div_last1').addClass('error')
        }
        if ($("#business_name").val().length <= 0) {
            $('#business_error1').text('Please enter Business Name')
            $('#div_business1').addClass('error')
        }
        if ($("#email").val().length <= 0) {
            $('#email_error1').text('Please enter Email')
            $('#div_email1').addClass('error')
        }


        if ($("#first_name").val().length > 0 && $("#last_name").val().length > 0 && $(
                "#business_name").val().length > 0 &&
            $("#email").val().length > 0 ) {
            $('#loader').removeClass('rw_loader_none')
            link = "{% url 'agency-edit' %}";
            $.ajax({
                type: 'POST',
                url: link,
                data: {
                    first_name: $("#first_name").val(),
                    last_name: $("#last_name").val(),
                    email: $("#email").val(),
                    business_name: $("#business_name").val(),
                    agency_id: $("#id_agency").val(),
                    password: $("#password").val(),
                    transaction_id: $("#transaction_id").val(),
                    plan_duration: $("#plan_duration").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                $('#loader').addClass('rw_loader_none')
                    if (response['status'] == false) {
                        $('#error1').text(response['message'])
                    } else {
                        location.reload()
                    }

                }
            });
        }
    });
    $('#first_name').on('keyup change', function (event) {
        if ($("#first_name").val().length > 0) {
            $("#first_error1").text('')
            $('#div_first1').removeClass('error')
        }
    });
    $('#last_name').on('keyup change', function (event) {
        if ($("#last_name").val().length > 0) {
            $("#last_error1").text('')
            $('#div_last1').removeClass('error')
        }
    });
    $('#business_name').on('keyup change', function (event) {
        if ($("#business_name").val().length > 0) {
            $("#business_error1").text('')
            $('#div_business1').removeClass('error')
        }
    });
    $('#email').on('keyup change', function (event) {
        if ($("#email").val().length > 0) {
            $("#email_error1").text('')
            $('#div_email1').removeClass('error')
        }
    });
     $('#status_active').on('change', function (event) {
         $('#loader').removeClass('rw_loader_none')
        link = "{% url 'status-agency' %}";
            $.ajax({
                type: 'GET',
                url: link,
                data: {
                    status: $("#status_active").val(),

                },
                success: function (response) {
                    $('#loader').addClass('rw_loader_none')

                    $("#agency_user").html(response)
                    $("#admin_user_table").dataTable({
                    language: {
                      search: "",
                      searchPlaceholder: "Search Agency Name,Contact Name and Date",
                      paginate: {
                        next: '<img src="/static/images/icons/chevron_right.svg" alt="image">',
                        previous:
                          '<img src="/static/images/icons/chevron_left.svg" alt="image">',
                      },
                    },
                    bPaginate: true,
                    bLengthChange: false,
                    responsive: true,
                    "order": [[ 2, "desc" ]],
                    aoColumnDefs: [
                          {
                             bSortable: true,
                             aTargets: [ -1 ]
                          }
                        ],
                        "columns": [
                            null,
                            null,
                            null,
                            { "searchable": false },
                            { "searchable": false },
                            { "searchable": false }
                        ],
                        "oLanguage": {
                        "sEmptyTable": "No Records Found"
                    }
                    });
                    $(".action_btn").on("click", function (e) {
                      e.stopPropagation();
                      if ($(this).siblings(".action_submenu").hasClass("active")) {
                        $(this).siblings(".action_submenu").removeClass("active");
                      } else {
                        $(".action_submenu.active").removeClass("active");
                        $(this).siblings(".action_submenu").addClass("active");
                      }
                    });
                }
            });
     });
     $('#delete_agency').on('click', function (event) {
        console.log('asdasdasd')
         $('#loader').removeClass('rw_loader_none')
       });

    $('#admin_adnew_agency').find('a').click(function(){
        console.log("Click");
        $('#id_first_name').val('')
        $('#id_last_name').val('')
        $('#id_business_name').val('')
        $('#id_email').val('')
        $('#id_transaction_id').val('')
        $('#id_plan_duration').val(0).change()
        $('.form_error').empty()
        $("#div_first").removeClass('error')
        $("#div_last").removeClass('error')
        $("#div_business").removeClass('error')
        $("#div_email").removeClass('error')
    })
</script>

{% endblock %}