{% load static %}
{% load tag_filter %}

<div class="rw_dashboard_box_wrapper">
    <!-- <div class="admin_header">
        <div class="dashboard_title">
            <h1>Dashboard</h1>
        </div>
        <div class="rw_selectbox admin_select">
            <select name="" id="">
                <option value="All">All</option>
                <option value="Today">Today</option>
                <option value="Last 7 Days">Last 7 Days</option>
                <option value="This Month">This Month</option>
            </select>
        </div>
    </div> -->
    <div class="rw_dashboard_inner">
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{agency_count}}</h1>
                <p>Agencies</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/agency.svg' %}" alt="image">
            </div>
        </div>
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{client_count}}</h1>
                <p>Clients</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/client.svg' %}" alt="image">
            </div>
        </div>
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{contact_user}}</h1>
                <p>Contacts</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/phone.svg' %}" alt="image">
            </div>
        </div>
        <div class="dashboard_box">
            <div class="dashboard_box_text">
                <h1>{{total_sales.amount__sum|million}}</h1>
                <p>Total Sales</p>
            </div>
            <div class="dashboard_box_icon">
                <img src="{% static 'images/icons/dollor.svg' %}" alt="image">
            </div>
        </div>
    </div>
</div>
<div class="rw_table_wrapper">
    <div class="rw_table_header">
        <div class="table_title">
            <h3>Newly Added Agencies</h3>
        </div>
<!--            <div class="add_new">-->
<!--                <a href="">+add</a>-->
<!--            </div>-->
    </div>
    <div class="rw_table_inner rw_admin_dashboard_table">
        <table id="admin_dashboard_table" class="table rw_pagination" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Agency Name </th>
                    <th>Contact Name </th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {% for i in agency %}
            <tr>
                <td>{{i.business_name|title}}</td>
                    <td >{{i.first_name|title}} {{i.last_name|title}}</td>
                    <td data-order="{{i.created_at|date:'Y-m-d H:i'}}">Added on {{i.created_at | date:"j M, Y h:i A"}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>