{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/agency_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/agency_settings.css' %}">
<link rel="stylesheet" href="{% static 'css/admin_account_settings.css' %}">
<link rel="stylesheet" href= "{% static 'css/icons.css' %}">
{% endblock %}


{% block page_content %}
{% if messages %}
    <div class="col-lg-12 col-md-12"     style=" padding-left: 122px; padding-top: 15px;">
      <ul class="messages">
        {% for message in messages %}
        <div style="color: green; font-size: 16px; margin-left: 10px;">{{ message }}</div>
        {% endfor %}
      </ul>
    </div>
{% endif %}
<form method="post" id="edit_form" enctype="multipart/form-data" action="{% url 'agency-edit' id %}">
    {% csrf_token %}
<div class="rw_inner_area">
    <div class="rw_dashboard_box_wrapper">
        <div class="admin_header">
            <div class="dashboard_title">
                <h1>Edit Agency</h1>
            </div>
        </div>
    </div>
    <div class="rw_inner_form_inner_area">
        <div class="rw_inn_form_box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="rw_form_inputs" id="div_first">
                        <label  class="rw_form_label">

                            First Name</label>
                        <div class="rw_input">
                            {{form.first_name}}
                            <span style="color: red;" id="first_error"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rw_form_inputs" id="div_last">
                        <label  class="rw_form_label">
                            
                            Last Name</label>
                        <div class="rw_input">
                            {{form.last_name}}
                            <span style="color: red;" id="last_error"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rw_form_inputs" >
                        <label  class="rw_form_label">Email Address</label>
                        <div class="rw_input"  style="opacity: 0.4;">
                            {{form.email}}
                            <span class="input_icon email"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rw_form_inputs" id="div_business">
                        <label  class="rw_form_label">Business Name </label>
                        <div class="rw_input">
                            {{form.business_name}}
                            <span style="color: red;" id="business_error"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="rw_form_inputs" >
                        <label  class="rw_form_label">Business Phone No</label>
                        <div class="rw_input">
                            {{form.business_phone_no}}
                            <span class="input_icon phone"></span>
                            <span style="color: red;" id="b_phone_error"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="rw_save_btn">
            <input type="submit" value="save" class="rw_btn" id="save_btn" style="border:none;">
        </div>
    </div>
</div>
</form>

{% endblock %}

{% block script %}
<script>
    $('#id_first_name').on('keyup change', function(event){
            if ($("#id_first_name").val().length > 0){
                $("#first_error").text('')
                $('#div_first').removeClass('error')
                if ($("#id_last_name").val().length > 0){
                    $('#save_btn').removeAttr("disabled")
                }
            }
            else{
                $('#first_error').text('Please add first name')
                $('#div_first').addClass('error')
                $('#save_btn').prop('disabled', true)
            }              
        });
     $('#id_last_name').on('keyup change', function(event){
            if ($("#id_last_name").val().length > 0){
                $("#last_error").text('')
                $('#div_last').removeClass('error')
                if ($("#id_first_name").val().length > 0){
                    $('#save_btn').removeAttr("disabled")
                }
            }
            else{
                $('#last_error').text('Please add last name')
                $('#div_last').addClass('error')
                $('#save_btn').prop('disabled', true)
            }              
        });
        $('#id_business_name').on('keyup change', function(event){
            if ($("#id_business_name").val().length > 0){
                $("#business_error").text('')
                $('#div_business').removeClass('error')
                if ($("#id_business_name").val().length > 0){
                    $('#save_btn').removeAttr("disabled")
                }
            }
            else{
                $('#business_error').text('Please add business name')
                $('#div_business').addClass('error')
                $('#save_btn').prop('disabled', true)
            }
        });
     
</script>

{% endblock %}