{% load static %}
{% if client1 %}
{% for i in client1 %}
<li>
    <a href="{% url 'client-dashboard' i.id %}" id="loader_class">
        <div class="client_account_box">
            <div class="client_account_box_inner">
                <div class="csbox_icon">
                    <h4 id="b_char">{{i.business_name|slice:":1"}}</h4>
                </div>
                <div class="csbox_text">
                    <h5 id="b_name">{{i.business_name|truncatechars:15}}</h5>
                    <p>{{i.first_name}} {{i.last_name}}</p>
                </div>
            </div>
        </div>
    </a>
</li>
{% endfor %}
{% else %}
<li>
    <a href="#">
    <div class="client_account_box">
            <div class="client_account_box_inner " style="justify-content: center;">

                <div class="csbox_text">
                    <h5 id="b_name" class="text-center">No Records Found</h5>

                </div>
            </div>
        </div>
        </a>
</li>
{% endif %}


<li>
    <a href="javascript:;" class="add_client"  data-bs-toggle="modal" data-bs-target="#client_adnew_agency">+ Add New Client</a>
</li>